@@if (title) { 

  <!-- Car -->
  <div class="col-12 compare-item mb-3" data-index="@@id">
    <div class="card border bg-body-tertiary">
      <span role="button" class="position-absolute top-0 start-100 translate-middle badge remove rounded-circle bg-danger">
        <span class="visually-hidden">comparison cars</span>
      </span>
      <div class="row g-0">
        <div class="col-5 card-image">
          <img data-src="@@image1" class="d-block object-fit-cover rounded-start lazy" alt="...">
        </div>
        <div class="col-7">
          <div class="card-body">
            <h3 class="card-title text-truncate mb-0" title="@@title">
              <a href="./car-details.html" class="fw-bold fs-6 text-decoration-none link-body-emphasis link-opacity-75 link-opacity-50-hover">@@title</a>
            </h3>
            <p class="card-text mb-2">
              <span class="car-price text-primary fs-special fs-sm fw-bold custom-color">@@price</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END Car -->
  
}