<th class="align-top h-100 py-0 comparison-column-item" data-index="@@id">
  <div class="d-flex flex-column h-100">
    <div class="mb-auto">
      <div class="text-center mx-auto"><div class="comparison-remove text-dark btn btn-sm py-0 my-2 text-uppercase fw-semibold fs-xs">Remove</div></div>
      <div class="d-block">
        <img src="@@image1" class="comparison-item-image img-fluid rounded object-fit-cover">
        <span class="d-block text-truncate-double mt-2">@@title</span>
      </div>
    </div>
    <hr class="my-2">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h6 class="mb-0">@@price</h6> 
    </div>
  </div>
</th>