<!-- Car -->
<div class="col-lg-4 col-md-6 mb-4">
  <div class="card sold-car bg-body-tertiary border">
    <div class="card-image listing-image-box position-relative">
      <img data-src="@@image1" class="img-fluid object-fit-cover rounded-top lazy" alt="...">
      <span class="btn btn-sm btn-warning sold-badge rounded-0 fw-bold position-absolute bottom-0 end-0 text-uppercase">SOLD</span>
    </div>
    <div class="card-body">
      <h3 class="card-title">
        <a href="./car-sold-details.html" class="fw-bold fs-5 text-decoration-none link-body-emphasis link-opacity-100 link-opacity-75-hover">@@title</a>
      </h3>
      <p class="card-text">
        <span class="car-price text-primary fs-special fs-5 fw-bold custom-color">@@price</span>
      </p>
    </div>
  </div>
</div>
<!-- END Car -->