<div class="car-features mb-4 pb-3">
  <h2 class="fs-special fw-bold">Features</h2>
  <div class="accordion" id="accordionFeatures">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button fs-5 fw-bold custom-color" type="button" data-bs-toggle="collapse"
          data-bs-target="#exteriorFeatures" aria-expanded="true" aria-controls="exteriorFeatures">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-car me-3" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
            <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
            <path d="M5 17h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5"></path>
         </svg> Exterior
        </button>
      </h2>
      <div id="exteriorFeatures" class="accordion-collapse collapse show" data-bs-parent="#accordionFeatures">
        <div class="accordion-body">
          <ul class="list-group list-group-horizontal list-group-flush row row-cols-1 row-cols-md-2 border-0">
            <li class="list-group-item col border-0 custom-color">22in Alloy Wheels - Forged Cross Spoke Design</li>
            <li class="list-group-item col border-0 custom-color">Ambient Lighting i\with Projection</li>
            <li class="list-group-item col border-0 custom-color">Exclusive Body Styling</li>
            <li class="list-group-item col border-0 custom-color">Performance Brake Calipers Painted Red</li>
            <li class="list-group-item col border-0 custom-color">Performance Exhaust System</li>
            <li class="list-group-item col border-0 custom-color">Radiator Grille with Sport Logo</li>
            <li class="list-group-item col border-0 custom-color">Bumpers - Painted in Body Color</li>
            <li class="list-group-item col border-0 custom-color">Door Mirrors - Electrically Adjustable and Heated</li>
            <li class="list-group-item col border-0 custom-color">Electric Sunroof - Sliding with One Touch Opening</li>
            <li class="list-group-item col border-0 custom-color">Electric Windows - 4</li>
            <li class="list-group-item col border-0 custom-color">Exterior Protective Strip wityh Trim Insert in Black</li>
            <li class="list-group-item col border-0 custom-color">Heated Windscreen</li>
            <li class="list-group-item col border-0 custom-color">Privacy Glass - Dark Glass from B-Pillar Backwards</li>
            <li class="list-group-item col border-0 custom-color">Side Running Boards</li>
            <li class="list-group-item col border-0 custom-color">Spare Wheel Cover with Staineless Steel</li>
            <li class="list-group-item col border-0 custom-color">Summer Tyres</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button fs-5 fw-bold custom-color collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#interiorFeatures" aria-expanded="false" aria-controls="interiorFeatures">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dashboard me-3" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 13m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
            <path d="M13.45 11.55l2.05 -2.05"></path>
            <path d="M6.4 20a9 9 0 1 1 11.2 0z"></path>
         </svg> Interior
        </button>
      </h2>
      <div id="interiorFeatures" class="accordion-collapse collapse" data-bs-parent="#accordionFeatures">
        <div class="accordion-body">
          <ul class="list-group list-group-horizontal list-group-flush row row-cols-1 row-cols-md-2 border-0">
            <li class="list-group-item col border-0 custom-color">Ambient Lighting - 64 Color Choice</li>
            <li class="list-group-item col border-0 custom-color">Door Sill Panels in Brushed Stainless Steel - Illuminated
            </li>
            <li class="list-group-item col border-0 custom-color">Floor Mats with Sport Lettering</li>
            <li class="list-group-item col border-0 custom-color">Instrument Cluster with Dual Bonded 12.3in Widescreen
              Displays </li>
            <li class="list-group-item col border-0 custom-color">Performance Steering Wheel in Nappa Leather 3-Spoke Design
            </li>
            <li class="list-group-item col border-0 custom-color">Steering Wheel Buttons</li>
            <li class="list-group-item col border-0 custom-color">Automatic Dimming Rear View Mirror</li>
            <li class="list-group-item col border-0 custom-color">Center Armrest Between Front Seats</li>
            <li class="list-group-item col border-0 custom-color">Cup Holders - Front x2 and Rear x2</li>
            <li class="list-group-item col border-0 custom-color">Dashboard - Nappa Leather</li>
            <li class="list-group-item col border-0 custom-color">Front Seats - Heated and Electrically Adjustable</li>
            <li class="list-group-item col border-0 custom-color">Front Seats - Ventilated</li>
            <li class="list-group-item col border-0 custom-color">Interior Air Ionizationwith Air Filter</li>
            <li class="list-group-item col border-0 custom-color">KEYLESS-GO Starting Function</li>
            <li class="list-group-item col border-0 custom-color">Luggage Compartment Cover</li>
            <li class="list-group-item col border-0 custom-color">Luggage Protection Net</li>
            <li class="list-group-item col border-0 custom-color">Rain-Sensing Wipers</li>
            <li class="list-group-item col border-0 custom-color">Rear Bench Seat - Spli Folding 1-3 - 2-3</li>
            <li class="list-group-item col border-0 custom-color">Roof Liner - DINAMICA Microfibre</li>
            <li class="list-group-item col border-0 custom-color">Rear Seats - Heated</li>
            <li class="list-group-item col border-0 custom-color">Steering Column - Electrically Adjustable</li>
            <li class="list-group-item col border-0 custom-color">Stowage Space Package</li>
            <li class="list-group-item col border-0 custom-color">Automatic Climate Control</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button fs-5 fw-bold custom-color collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#safetyFeatures" aria-expanded="false" aria-controls="safetyFeatures">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-car-crash me-3" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M10 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
            <path d="M7 6l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-5m0 -6h8m-6 0v-5m2 0h-4"></path>
            <path d="M14 8v-2"></path>
            <path d="M19 12h2"></path>
            <path d="M17.5 15.5l1.5 1.5"></path>
            <path d="M17.5 8.5l1.5 -1.5"></path>
         </svg> Safety
        </button>
      </h2>
      <div id="safetyFeatures" class="accordion-collapse collapse" data-bs-parent="#accordionFeatures">
        <div class="accordion-body">
          <ul class="list-group list-group-horizontal list-group-flush row row-cols-1 row-cols-md-2 border-0">
            <li class="list-group-item col border-0 custom-color">ABS - Anti-Lock Braking System</li>
            <li class="list-group-item col border-0 custom-color">Active Brake Assist</li>
            <li class="list-group-item col border-0 custom-color">Active Lane Keeping Assist</li>
            <li class="list-group-item col border-0 custom-color">Adaptive Brake Assist with Hold Function - Hill Start Assist
              - Primary and Dry Braking in the Wet</li>
            <li class="list-group-item col border-0 custom-color">Airbags - Driver and Front Passenger</li>
            <li class="list-group-item col border-0 custom-color">Airbags - Front Side</li>
            <li class="list-group-item col border-0 custom-color">Airbags - Rear Sidebags</li>
            <li class="list-group-item col border-0 custom-color">Airbags - Windowbags</li>
            <li class="list-group-item col border-0 custom-color">Anti Theft Alarm System with Tow-Away Protection and Interior
              Motion Sensor</li>
            <li class="list-group-item col border-0 custom-color">Driving Assistance Package</li>
            <li class="list-group-item col border-0 custom-color">ESP - Electronic Stability Programme with ASR - Acceleration
              Skid Control</li>
            <li class="list-group-item col border-0 custom-color">4ETS - Four-Wheel Electronic Traction System</li>
            <li class="list-group-item col border-0 custom-color">i-Size Child Seat Attachment for Outer Rear Seats</li>
            <li class="list-group-item col border-0 custom-color">PRE-SAFE System for Preventive Occupant Protection</li>
            <li class="list-group-item col border-0 custom-color">Seat Belt Pre-Tensioners - 4</li>
            <li class="list-group-item col border-0 custom-color">Seat Belts - 3-Point Design in Black</li>
            <li class="list-group-item col border-0 custom-color">Trailer Coupling with ESP Trailer Stabilisation</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button fs-5 fw-bold custom-color collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#securityFeatures" aria-expanded="false" aria-controls="securityFeatures">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shield-lock me-3" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 3a12 12 0 0 0 8.5 3a12 12 0 0 1 -8.5 15a12 12 0 0 1 -8.5 -15a12 12 0 0 0 8.5 -3"></path>
            <path d="M12 11m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
            <path d="M12 12l0 2.5"></path>
         </svg> Security
        </button>
      </h2>
      <div id="securityFeatures" class="accordion-collapse collapse" data-bs-parent="#accordionFeatures">
        <div class="accordion-body">
          <ul class="list-group list-group-horizontal list-group-flush row row-cols-1 row-cols-md-2 border-0">
            <li class="list-group-item col border-0 custom-color">Immobilizer</li>
            <li class="list-group-item col border-0 custom-color">Keyless Entry</li>
            <li class="list-group-item col border-0 custom-color">Keyless Ignition</li>
            <li class="list-group-item col border-0 custom-color">Preparation for Vehicle Tracking</li>
            <li class="list-group-item col border-0 custom-color">Remote Central Locking</li>
            <li class="list-group-item col border-0 custom-color">Volumetric Anti-Theft Alarm</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button fs-5 fw-bold custom-color collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#engineFeatures" aria-expanded="false" aria-controls="engineFeatures">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-engine me-3" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M3 10v6"></path>
            <path d="M12 5v3"></path>
            <path d="M10 5h4"></path>
            <path d="M5 13h-2"></path>
            <path d="M6 10h2l2 -2h3.382a1 1 0 0 1 .894 .553l1.448 2.894a1 1 0 0 0 .894 .553h1.382v-2h2a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-2v-2h-3v2a1 1 0 0 1 -1 1h-3.465a1 1 0 0 1 -.832 -.445l-1.703 -2.555h-2v-6z"></path>
         </svg> Engine & Drive Train
        </button>
      </h2>
      <div id="engineFeatures" class="accordion-collapse collapse" data-bs-parent="#accordionFeatures">
        <div class="accordion-body">
          <table class="table table-striped table-hover">
            <tbody>
              <tr>
                <th scope="row">Camshaft</th>
                <td>DOHC</td>
              </tr>
              <tr>
                <th scope="row">Transmission</th>
                <td>Automatic </td>
              </tr>
              <tr>
                <th scope="row">Number of Gears</th>
                <td>9 </td>
              </tr>
              <tr>
                <th scope="row">Cylinder Layout</th>
                <td>V8 </td>
              </tr>
              <tr>
                <th scope="row">Cylinders</th>
                <td>8 </td>
              </tr>
              <tr>
                <th scope="row">CC</th>
                <td>3999 </td>
              </tr>
              <tr>
                <th scope="row">Noise Level dB(A)</th>
                <td>3800 </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button fs-5 fw-bold custom-color collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#performanceFeatures" aria-expanded="false" aria-controls="performanceFeatures">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-gauge me-3" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
            <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
            <path d="M13.41 10.59l2.59 -2.59"></path>
            <path d="M7 12a5 5 0 0 1 5 -5"></path>
         </svg> Performance
        </button>
      </h2>
      <div id="performanceFeatures" class="accordion-collapse collapse" data-bs-parent="#accordionFeatures">
        <div class="accordion-body">
          <table class="table table-striped table-hover">
            <tbody>
              <tr>
                <th scope="row">Engine Size</th>
                <td>3999 cc </td>
              </tr>
              <tr>
                <th scope="row">Top Speed</th>
                <td>255 mph </td>
              </tr>
              <tr>
                <th scope="row">0-62mph</th>
                <td>2.6 sec </td>
              </tr>
              <tr>
                <th scope="row">Engine Torque (lbs/ft)</th>
                <td>627 </td>
              </tr>
              <tr>
                <th scope="row">Engine Torque (NM)</th>
                <td>2500 </td>
              </tr>
              <tr>
                <th scope="row">Engine Torque (RPM)</th>
                <td>850 </td>
              </tr>
              <tr>
                <th scope="row">Engine Power (KW)</th>
                <td>430 </td>
              </tr>
              <tr>
                <th scope="row">Engine Power (BHP)</th>
                <td>577 </td>
              </tr>
              <tr>
                <th scope="row">Engine Power (RPM)</th>
                <td>6000 </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button fs-5 fw-bold custom-color collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#dimensionFeatures" aria-expanded="false" aria-controls="dimensionFeatures">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ruler-measure me-3" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M19.875 12c.621 0 1.125 .512 1.125 1.143v5.714c0 .631 -.504 1.143 -1.125 1.143h-15.875a1 1 0 0 1 -1 -1v-5.857c0 -.631 .504 -1.143 1.125 -1.143h15.75z"></path>
            <path d="M9 12v2"></path>
            <path d="M6 12v3"></path>
            <path d="M12 12v3"></path>
            <path d="M18 12v3"></path>
            <path d="M15 12v2"></path>
            <path d="M3 3v4"></path>
            <path d="M3 5h18"></path>
            <path d="M21 3v4"></path>
         </svg> Dimensions
        </button>
      </h2>
      <div id="dimensionFeatures" class="accordion-collapse collapse" data-bs-parent="#accordionFeatures">
        <div class="accordion-body">
          <table class="table table-striped table-hover">
            <tbody>
              <tr>
                <th scope="row">Height</th>
                <td>1159 mm </td>
              </tr>
              <tr>
                <th scope="row">Length</th>
                <td>4462 mm </td>
              </tr>
              <tr>
                <th scope="row">Width</th>
                <td>1988 mm </td>
              </tr>
              <tr>
                <th scope="row">Wheelbase</th>
                <td>2980 mm </td>
              </tr>
              <tr>
                <th scope="row">Fuel Tank</th>
                <td>75 litres</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button fs-5 fw-bold custom-color collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#consumptionFeatures" aria-expanded="false" aria-controls="consumptionFeatures">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-gas-station me-3" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M14 11h1a2 2 0 0 1 2 2v3a1.5 1.5 0 0 0 3 0v-7l-3 -3"></path>
            <path d="M4 20v-14a2 2 0 0 1 2 -2h6a2 2 0 0 1 2 2v14"></path>
            <path d="M3 20l12 0"></path>
            <path d="M18 7v1a1 1 0 0 0 1 1h1"></path>
            <path d="M4 11l10 0"></path>
         </svg> Consumption & Emmissions
        </button>
      </h2>
      <div id="consumptionFeatures" class="accordion-collapse collapse" data-bs-parent="#accordionFeatures">
        <div class="accordion-body">
          <table class="table table-striped table-hover">
            <tbody>
              <tr>
                <th scope="row">Extra Urban (mpg)</th>
                <td>17</td>
              </tr>
              <tr>
                <th scope="row">Urban (mpg)</th>
                <td>9.6</td>
              </tr>
              <tr>
                <th scope="row">Combined (mpg)</th>
                <td>13.1 </td>
              </tr>
              <tr>
                <th scope="row">CO2 (g/km)</th>
                <td>539 </td>
              </tr>
              <tr>
                <th scope="row">Standard Euro Emmissions</th>
                <td>EURO 6</td>
              </tr>
              <tr>
                <th scope="row">Ultra Low Emmission Zone</th>
                <td>Compliant</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>