<div class="car-description mb-4 pb-3">
  <h2 class="fs-special fw-bold">Description</h2>
  <p>Make a statement on the road with this sleek and sporty coupe. With its aerodynamic design and eye-catching
    details, this car demands attention wherever it goes. Slip into the driver's seat and experience the thrill of
    its responsive engine and agile handling. </p>

  <div class="collapse" id="collapseDescription">
    <p>The meticulously crafted interior offers a blend of luxury and technology, providing a comfortable and
      connected driving experience. If you're looking for a car that combines style, performance, and
      sophistication, this coupe is the perfect choice.
    </p>
    <p>Embrace the joy of open-air driving with this stunning convertible. With its retractable top, you can enjoy
      the freedom of the open road at your command. Step inside the refined cabin and experience the perfect
      balance of luxury and exhilaration.
    </p>
    <p>Whether you're cruising along coastal highways or winding through scenic routes, this convertible delivers
      an unforgettable driving experience. With its powerful engine and precise handling, every drive becomes a
      memorable adventure. Don't miss out on the opportunity to own this exceptional convertible that offers the
      perfect blend of style and thrill.
    </p>
    <p>Unleash your inner adventurer with this versatile and capable SUV. From city streets to off-road trails,
      this vehicle handles it all with ease. With its spacious interior and flexible seating options, you can
      comfortably accommodate passengers and cargo for any journey.
    </p>
  </div>

  <!-- aria-expanded attribute is mandatory -->
  <!-- bootstrap changes it to true/false on toggle -->
  <a class="d-block mt-n1 text-center custom-color" data-bs-toggle="collapse" href="#collapseDescription" role="button"
    aria-expanded="false" aria-controls="collapseDescription">
    <span class="collapsed">Show More</span>
    <span class="expanded">Show Less</span>
  </a>
</div>