@@for (var i = 0; i < carsDataShuffled.length; i++) { 
  
  <!-- Blog Author Card -->
  <div class="col-lg-4 col-md-6">
    <div class="card blog-author-card h-100 bg-body-tertiary border overflow-hidden">
      <div class="card-body d-flex flex-column">
        <div class="blog-author d-flex align-self-start rounded-1 m-0 w-100">
          <a href="./blog-author-profile.html" class="author-img d-inline-flex align-self-center me-3 "><img data-src="`+carsDataShuffled[i].reviewerImage+`" alt="" class="object-fit-cover img-fluid rounded-1 lazy"></a>
          <div class="d-flex flex-column align-items-start justify-content-between">
            <div>
              <a href="./blog-author-profile.html" rel="nofollow" class="d-block stretched-link fs-5 fs-special fw-semibold text-decoration-none text-body-emphasis mb-1 text-primary custom-color">`+carsDataShuffled[i].reviewerName+`</a>
              <span class="d-block fs-xs text-muted text-uppercase text-spacing-sm">`+carsDataShuffled[i].reviewerTitle+`</span>
            </div>
            <div>
              <div class="d-inline-flex me-3">
                <span class="text-muted me-1">Posts:</span>
                <span class="fw-bold blog-author-posts-count">24</span>
              </div>
              <div class="d-inline-flex me-3">
                <span class="text-muted me-1">Comments:</span>
                <span class="fw-bold blog-author-comments-count">98</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END Blog Author Card -->

}