<!-- Add Testimonial -->
<form id="add-testimonial-form" action="">
  <div class="mb-3">
    <label for="customer-email" class="form-label">Your Email</label>
    <input type="email" class="form-control custom-color" id="customer-email" name="customer-email" aria-describedby="testimonialEmailHelp">
    <div id="testimonialEmailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="customer-name" class="form-label">Your Name</label>
    <input type="text" class="form-control custom-color" id="customer-name" name="customer-name">
  </div>
  <div class="mb-3">
    <label for="customer-testimonial" class="form-label">Your Testimonial</label>
    <textarea class="form-control custom-color" id="customer-testimonial" name="customer-testimonial" rows="3"></textarea>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input custom-color" id="confirm-terms" name="confirm-terms" checked>
    <label class="form-check-label text-body-secondary" for="confirm-terms">I agree to <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="./terms-of-service.html">Terms of Service</a> and <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="./privacy-policy.html">Privacy Policy</a></label>
  </div>
  <button type="submit" class="btn btn-primary custom-color fs-sm px-4 py-2 text-uppercase fw-bold text-spacing-md" data-requires-confirm="true">Submit</button>
</form>
<!-- END Add Testimonial -->