<!-- Book Test Drive -->
<form id="book-test-drive-form" action="">
  <div class="mb-3 pb-1 row g-0">
    <div class="col-12 col-sm-5 mb-3 mb-sm-0">
      <div style="max-width: 160px; max-height: 90px">
        <img data-src="./images/cars/bmw-x5/01.jpg" class="d-block w-100 rounded-1 lazy" alt="...">
      </div>
    </div>
    <div class="col-12 col-sm-7">
      <h6 class="mb-2">2022 BMW X5</h6>
      <div class="w-100 lh-sm">
        <span class="fw-bold me-2 fs-sm">Color:</span><span class="text-body-secondary fs-sm">White</span>
      </div>
      <div class="w-100 lh-sm">
        <span class="fw-bold me-2 fs-sm">Stock #:</span><span class="text-body-secondary fs-sm">74587</span>
      </div>
      <div class="w-100 lh-sm">
        <span class="fw-bold me-2 fs-sm">VIN:</span><span class="text-body-secondary fs-sm">1G54A547136H66J98</span>
      </div>
    </div>
  </div>
  <hr class="hr opacity-15 d-block w-100 my-3">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="mb-3">
        <label for="user-title" class="form-label">Title</label>
        <select class="form-select custom-color text-dark-emphasis rounded-1" name="user-salutation" aria-label="Select your title and salutation">
          <option selected>Select title</option>
          <option value="mr">Mr</option>
          <option value="mrs">Mrs</option>
          <option value="miss">Miss</option>
          <option value="sir">Sir</option>
        </select>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="mb-3">
        <label for="user-first-name" class="form-label">Name</label>
        <input type="text" class="form-control custom-color" id="user-first-name" name="user-first-name">
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="user-phone" class="form-label">Phone <span class="text-secondary fs-sm">(Optional)</span></label>
    <input type="text" class="form-control custom-color" id="user-phone" name="user-phone">
  </div>
  <div class="mb-3">
    <label for="user-email" class="form-label">Email</label>
    <input type="email" class="form-control custom-color" id="user-email" name="user-email" aria-describedby="testDriveEmailHelp">
    <div id="testDriveEmailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="test-drive-date" class="form-label">Date</label>
    <input type="text" class="form-control custom-color" id="test-drive-date" name="test-drive-date" aria-describedby="testDriveDateHelp">
    <div id="testDriveDateHelp" class="form-text">Select the date you would like to test drive this car.</div>
  </div>
  <div class="mb-3">
    <label for="test-drive-time" class="form-label">Time</label>
    <input type="text" class="form-control custom-color" id="test-drive-time" name="test-drive-time" aria-describedby="testDriveTimeHelp" placeholder="Morning">
    <div id="testDriveTimeHelp" class="form-text">Select the time you would like to test drive this car.</div>
  </div>
  <div class="mb-3">
    <label for="test-drive-message" class="form-label">Notes <span class="text-secondary fs-sm">(Optional)</span></label>
    <textarea class="form-control custom-color" id="test-drive-message" name="test-drive-message" rows="3"></textarea>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input custom-color" id="confirm-terms-book-testdrive" name="confirm-terms-book-testdrive" checked>
    <label class="form-check-label text-body-secondary" for="confirm-terms-book-testdrive">I agree to <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="./terms-of-service.html">Terms of Service</a> and <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="./privacy-policy.html">Privacy Policy</a></label>
  </div>
  <button type="submit" class="btn btn-primary custom-color fs-sm px-4 py-2 text-uppercase fw-bold text-spacing-md" data-requires-confirm="true">Submit</button>
</form>
<!-- END Book Test Drive -->