<!-- Car Search Form - Wide -->
<form id="hero-filter" class="row">
  <div class="col-12 col-lg-4">
    <div class="row">
      <div class="col-12">
        <label for="exampleInputEmail1" class="form-label text-uppercase fs-sm fw-bold">Condition</label>
      </div>
      <div class="col-12 mb-3 d-grid">
        <div class="btn-group bg-white bg-opacity-25 text-white" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="btnradio" id="btn_any" autocomplete="off" checked>
          <label class="btn btn-outline-success custom-color border bg-body-tertiary text-body" for="btn_any">Any</label>
          <input type="radio" class="btn-check" name="btnradio" id="btn_new" autocomplete="off">
          <label class="btn btn-outline-success custom-color border bg-body-tertiary text-body" for="btn_new">New</label>
          <input type="radio" class="btn-check" name="btnradio" id="btn_used" autocomplete="off">
          <label class="btn btn-outline-success custom-color border bg-body-tertiary text-body" for="btn_used">Used</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 mb-3">
        <label for="exampleInputEmail1" class="form-label text-uppercase fs-sm fw-bold">Brand</label>
        <select id="brand-select" class="form-select custom-color  bg-white bg-opacity-25 border-light border-opacity-50" aria-label="Select car brand">
          <option selected>Any</option>
          @@for (var i = 0; i < carBrands.length; i++) {
            <option value="`+carBrands[i].name+`">`+carBrands[i].name+`</option> 
          }
        </select>
      </div>
      <div class="col-12 col-sm-6 mb-3">
        <label for="exampleInputEmail1" class="form-label text-uppercase fs-sm fw-bold">Model</label>
        <select id="model-select" class="form-select custom-color  bg-white bg-opacity-25 border-light border-opacity-50" aria-label="Select car model">
          <option selected>Any</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="row">
      <div class="col-12 col-sm-6 mb-3">
        <label for="exampleInputEmail1" class="form-label text-uppercase fs-sm fw-bold">Min Price</label>
        <select id="min-price-filter" class="form-select custom-color  bg-white bg-opacity-25 border-light border-opacity-50" aria-label="Default select example">
          <option selected>Any</option>
        </select>
      </div>
      <div class="col-12 col-sm-6 mb-3">
        <label for="exampleInputEmail1" class="form-label text-uppercase fs-sm fw-bold">Max Price</label>
        <select id="max-price-filter" class="form-select custom-color  bg-white bg-opacity-25 border-light border-opacity-50" aria-label="Default select example">
          <option selected>Any</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 mb-3">
        <label for="exampleInputEmail1" class="form-label text-uppercase fs-sm fw-bold">Year (From)</label>
        <select id="min-year-filter" class="form-select custom-color  bg-white bg-opacity-25 border-light border-opacity-50" aria-label="Default select example">
          <option selected>Any</option>
        </select>
      </div>
      <div class="col-12 col-sm-6 mb-3">
        <label for="exampleInputEmail1" class="form-label text-uppercase fs-sm fw-bold">Year (To)</label>
        <select id="max-year-filter" class="form-select custom-color  bg-white bg-opacity-25 border-light border-opacity-50" aria-label="Default select example">
          <option selected>Any</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 pb-3">
    <div class="row">
      <div class="col-12 col-sm-6 mb-3">
        <label for="exampleInputEmail1" class="form-label text-uppercase fs-sm fw-bold">Engine</label>
        <select id="min-price-filter" class="form-select custom-color  bg-white bg-opacity-25 border-light border-opacity-50" aria-label="Default select example">
          <option selected>Any</option>
        </select>
      </div>
      <div class="col-12 col-sm-6 mb-3">
        <label for="exampleInputEmail1" class="form-label text-uppercase fs-sm fw-bold">Transmission</label>
        <select id="max-price-filter" class="form-select custom-color  bg-white bg-opacity-25 border-light border-opacity-50" aria-label="Default select example">
          <option selected>Any</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-2 d-grid">
        <button type="submit" class="btn btn-warning text-spacing-md text-uppercase fw-bold py-3">Search</button>
      </div>
    </div>
  </div>
</form>
<!-- END Car Search Form - Wide -->