<!-- Edit Security Settings Form -->
<form id="edit-security-settings" action="">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="mb-3">
        <label for="current-password" class="form-label">Current Password</label>
        <input type="password" class="form-control custom-color" id="current-password" name="current-password">
        <small><a class="link-primary custom-color" href="./auth-forgot-password.html">Forgot your password?</a></small>
      </div>
    </div>
  </div>
  <div class="row">    
    <div class="col-12 col-md-6">
      <div class="mb-3">
        <label for="new-password" class="form-label">New Password</label>
        <input type="password" class="form-control custom-color" id="new-password" name="new-password">
      </div>
    </div>  
    <div class="col-12 col-md-6">
      <div class="mb-3">
        <label for="new-password-confirm" class="form-label">Re-type New Password</label>
        <input type="password" class="form-control custom-color" id="new-password-confirm" name="new-password-confirm">
      </div>
    </div>
  </div>
  <div class="mb-3">
    <p class="fw-bold">Password requirements:</p>
    <ul class="ps-1 ms-4">
      <li>Minimum 8 characters long - the more, the better</li>
      <li>At least one lowercase character</li>
      <li>At least one uppercase character</li>
      <li>At least one number, symbol, or whitespace character</li>
    </ul>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input custom-color" id="confirm-terms" name="confirm-terms" checked>
    <label class="form-check-label text-body-secondary" for="confirm-terms">I agree to <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="./terms-of-service.html">Terms of Service</a> and <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="./privacy-policy.html">Privacy Policy</a></label>
  </div>
  <button type="submit" class="btn btn-primary custom-color fs-sm px-4 py-2 text-uppercase fw-bold text-spacing-md" data-requires-confirm="true">Save</button>
</form>
<!-- END Edit Security Settings Form -->