<!-- Delete Account Form -->
<form id="delete-account-form" action="">
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input custom-color" id="confirm-delete-account" name="confirm-delete-account" checked>
    <label class="form-check-label text-body-secondary" for="confirm-delete-account">I confirm to delete my account and I agree to <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="./terms-of-service.html">Terms of Service</a> and <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="./privacy-policy.html">Privacy Policy</a></label>
  </div>
  <button type="submit" class="btn btn-danger custom-color fs-sm px-4 py-2 text-uppercase fw-bold text-spacing-md" data-requires-confirm="true">Delete Account</button>
</form>
<!-- END Delete Account Form -->