<!-- Job Search -->
<form id="job-search-form" action="">
  <div class="row g-3 justify-content-center">
    <div class="col-12 col-sm-auto">
      <input type="text" class="form-control custom-color" id="user-name" name="user-name" placeholder="Search">
    </div>
    <div class="col-12 col-sm-auto">
      <select class="form-select custom-color text-dark-emphasis rounded-1" id="job-department" name="job-department" aria-label="Select job department">
        <option selected>Select department</option>
        <option value="leadership">Leadership</option>
        <option value="management">Management</option>
        <option value="operations">Operations</option>
        <option value="technology">Technology</option>
        <option value="sales">Sales</option>
        <option value="hr">Human Resource</option>
        <option value="marketing">Marketing</option>
        <option value="logistics">Logistics</option>
        <option value="legal">Legal</option>
      </select>
    </div>
    <div class="col-12 col-sm-auto">
      <select class="form-select custom-color text-dark-emphasis rounded-1" id="job-location" name="job-location" aria-label="Select job location">
        <option selected>Select location</option>
        <option value="london">London</option>
        <option value="manchester">Manchester</option>
        <option value="liverpool">Liverpool</option>
        <option value="miami">Miami</option>
        <option value="bangcock">Bangcock</option>
      </select>
    </div>
    <div class="col-12 col-sm-auto text-sm-start text-center">
      <button type="submit" class="btn btn-link custom-color link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover px-0">Clear</button>
    </div>
  </div>
</form>
<!-- END Job Search -->