<!-- Nav - Style 2 -->
<nav class="navbar navbar-expand-lg z-1030 p-0" aria-label="Main navigation">
  <div class="container d-flex flex-wrap">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain"
      aria-controls="navMain" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMain">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0 me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle link-body-emphasis px-3 py-3 fw-bold custom-color" href="/" data-bs-toggle="dropdown" aria-expanded="false">Home</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item custom-color" href="./home-v1.html">Home v1 Classifieds</a></li>
            <li><a class="dropdown-item custom-color" href="./home-v2.html">Home v2 Classifieds</a></li>
            <li><a class="dropdown-item custom-color" href="./home-v3.html">Home v3 Classifieds</a></li>
            <li><a class="dropdown-item custom-color" href="./home-v4.html">Home v4 Classifieds</a></li>
            <li><a class="dropdown-item custom-color" href="./home-v5.html">Home v5 Classifieds</a></li>
            <li><a class="dropdown-item custom-color" href="./home-v6.html">Home v6 Dealership</a></li>
            <li><a class="dropdown-item custom-color" href="./home-v7.html">Home v7 Dealership</a></li>
            <li><a class="dropdown-item custom-color" href="./home-v8.html">Home v8 Dealership</a></li>
            <li><a class="dropdown-item custom-color" href="./home-v9.html">Home v9 Dealership</a></li>
            <li><a class="dropdown-item custom-color" href="./home-v10.html">Home v10 Dealership</a></li>
          </ul>
        </li>
        <li class="nav-item"><a href="./used-cars.html" class="nav-link link-body-emphasis px-3 py-3 fw-bold custom-color">Used</a></li>
        <li class="nav-item"><a href="./new-cars.html" class="nav-link link-body-emphasis px-3 py-3 fw-bold custom-color">New</a></li>
        <li class="nav-item"><a href="./cars-sold.html" class="nav-link link-body-emphasis px-3 py-3 fw-bold custom-color">Sold</a></li>
        <li class="nav-item"><a href="./reviews.html" class="nav-link link-body-emphasis px-3 py-3 fw-bold custom-color">Reviews</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle link-body-emphasis px-3 py-3 fw-bold custom-color" href="#" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>
          <ul class="dropdown-menu">
            <li class="dropdown"><a class="dropdown-item custom-color dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Car</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item custom-color" href="./car-filter-grid.html">Car Search Grid</a></li>
                <li><a class="dropdown-item custom-color" href="./car-filter-list.html">Car Search List</a></li>
                <li><a class="dropdown-item custom-color" href="./car-details.html">Car Details</a></li>
                <li><a class="dropdown-item custom-color" href="./car-details-v2.html">Car Details v2</a></li>
                <li><a class="dropdown-item custom-color" href="./cars-sold.html">Sold Cars</a></li>
                <li><a class="dropdown-item custom-color" href="./car-sold-details.html">Sold Car Details</a></li>
                <li><a class="dropdown-item custom-color" href="./add-listing.html">Add Car Listing</a></li>
                <li><a class="dropdown-item custom-color" href="./vendor-profile.html">Car Vendor Profile</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-item custom-color dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item custom-color" href="./account-dashboard.html">Dashboard</a></li>
                <li><a class="dropdown-item custom-color" href="./account-settings-profile.html">Edit Profile</a></li>
                <li><a class="dropdown-item custom-color" href="./account-favorites.html">Favorites</a></li>
                <li><a class="dropdown-item custom-color" href="./account-listings.html">Listings</a></li>
                <li><a class="dropdown-item custom-color" href="./add-listing.html">Add Listing</a></li>
                <li><a class="dropdown-item custom-color" href="./account-my-reviews.html">My Reviews</a></li>
                <li><a class="dropdown-item custom-color" href="./account-user-reviews.html">User Reviews</a></li>
                <li><a class="dropdown-item custom-color" href="./account-messages.html">Messages</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-item custom-color dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Settings</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item custom-color" href="./account-settings-profile.html">Profile</a></li>
                <li><a class="dropdown-item custom-color" href="./account-settings-security.html">Security</a></li>
                <li><a class="dropdown-item custom-color" href="./account-settings-notifications.html">Notifications</a></li>
                <li><a class="dropdown-item custom-color" href="./account-settings-messages.html">Messages</a></li>
                <li><a class="dropdown-item custom-color" href="./account-settings-delete.html">Delete Account</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-item custom-color dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
              <ul class="dropdown-menu">
                <li class="dropdown"><a class="dropdown-item custom-color dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Blog Grid</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item custom-color" href="./blog-grid-4-cols.html">Four Columns</a></li>
                    <li><a class="dropdown-item custom-color" href="./blog-grid-3-cols.html">Three Columns</a></li>
                    <li><a class="dropdown-item custom-color" href="./blog-grid-sidebar-left.html">Grid Sidebar Left</a></li>
                    <li><a class="dropdown-item custom-color" href="./blog-grid-sidebar-right.html">Grid Sidebar Right</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a class="dropdown-item custom-color dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Blog List</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item custom-color" href="./blog-list-sidebar-left.html">List Sidebar Left</a></li>
                    <li><a class="dropdown-item custom-color" href="./blog-list-sidebar-right.html">List Sidebar Right</a></li>
                  </ul>
                </li>
                <li><a class="dropdown-item custom-color" href="./blog-minimal.html">Blog Minimal</a></li>
                <li class="dropdown"><a class="dropdown-item custom-color dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Blog Article</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item custom-color" href="./blog-article-classic.html">Article Classic</a></li>
                    <li><a class="dropdown-item custom-color" href="./blog-article-classic-2.html">Article Classic 2</a></li>
                    <li><a class="dropdown-item custom-color" href="./blog-article-minimal.html">Article Minimal</a></li>
                    <li><a class="dropdown-item custom-color" href="./blog-article-minimal-2.html">Article Minimal 2</a></li>
                  </ul>
                </li>
                <li><a class="dropdown-item custom-color" href="./blog-authors.html">Blog Authors</a></li>
                <li><a class="dropdown-item custom-color" href="./blog-author-profile.html">Author Profile</a></li>
                <li><a class="dropdown-item custom-color" href="./blog-author-profile-2.html">Author Profile 2</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-item custom-color dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Company</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item custom-color" href="./about.html">About Us</a></li>
                <li><a class="dropdown-item custom-color" href="./about-v2.html">About Us 2</a></li>
                <li><a class="dropdown-item custom-color" href="./services.html">Services</a></li>
                <li><a class="dropdown-item custom-color" href="./services-v2.html">Services 2</a></li>
                <li><a class="dropdown-item custom-color" href="./team.html">Team</a></li>
                <li><a class="dropdown-item custom-color" href="./team-v2.html">Team 2</a></li>
                <li><a class="dropdown-item custom-color" href="./careers.html">Careers</a></li>
                <li><a class="dropdown-item custom-color" href="./career-details.html">Career Details</a></li>
                <li><a class="dropdown-item custom-color" href="./career-application.html">Career Application</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-item custom-color dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Auth Pages</a>
              <ul class="dropdown-menu">
                <li class="dropdown"><a class="dropdown-item custom-color dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Login</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item custom-color" href="./auth-login.html">Login Default</a></li>
                    <li><a class="dropdown-item custom-color" href="./auth-login-fullscreen.html">Login Fullscreen</a></li>
                    <li><a class="dropdown-item custom-color" href="./auth-login-modern.html">Login Modern</a></li>
                    <li><a class="dropdown-item custom-color" href="./auth-login-cover.html">Login Cover</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a class="dropdown-item custom-color dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Signup</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item custom-color" href="./auth-signup.html">Signup Default</a></li>
                    <li><a class="dropdown-item custom-color" href="./auth-signup-fullscreen.html">Signup Fullscreen</a></li>
                    <li><a class="dropdown-item custom-color" href="./auth-signup-modern.html">Signup Modern</a></li>
                    <li><a class="dropdown-item custom-color" href="./auth-signup-cover.html">Signup Cover</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a class="dropdown-item custom-color dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Reset Password</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item custom-color" href="./auth-forgot-password.html">Password Default</a></li>
                    <li><a class="dropdown-item custom-color" href="./auth-forgot-password-fullscreen.html">Password Fullscreen</a></li>
                    <li><a class="dropdown-item custom-color" href="./auth-forgot-password-modern.html">Password Modern</a></li>
                    <li><a class="dropdown-item custom-color" href="./auth-forgot-password-cover.html">Password Cover</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-item custom-color dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Reviews</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item custom-color" href="./reviews.html">All Reviews</a></li>
                <li><a class="dropdown-item custom-color" href="./review-details.html">Review Details</a></li>
                <li><a class="dropdown-item custom-color" href="./review-details-v2.html">Review Details v2</a></li>
                <li><a class="dropdown-item custom-color" href="./reviewers.html">Reviewers</a></li>
                <li><a class="dropdown-item custom-color" href="./reviewer-profile.html">Reviewer Profile</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-item custom-color dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Brands</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item custom-color" href="./brands.html">Brands v1</a></li>
                <li><a class="dropdown-item custom-color" href="./brands-v2.html">Brands v2</a></li>
              </ul>
            </li>
            <li><a class="dropdown-item custom-color" href="./compare.html">Compare</a></li>
            <li><a class="dropdown-item custom-color" href="./testimonials.html">Testimonials</a></li>
            <li class="dropdown"><a class="dropdown-item custom-color dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">FAQs</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item custom-color" href="./faqs.html">FAQs 1</a></li>
                <li><a class="dropdown-item custom-color" href="./faqs-v2.html">FAQs 2</a></li>
                <li><a class="dropdown-item custom-color" href="./faqs-v3.html">FAQs 3</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-item custom-color dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Pricing</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item custom-color" href="./pricing.html">Pricing 1</a></li>
                <li><a class="dropdown-item custom-color" href="./pricing-v2.html">Pricing 2</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-item custom-color dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Utility</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item custom-color" href="./cookie-policy.html">Cookie Policy</a></li>
                <li><a class="dropdown-item custom-color" href="./privacy-policy.html">Privacy Policy</a></li>
                <li><a class="dropdown-item custom-color" href="./terms-of-service.html">Terms of Service</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-item custom-color dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Contact</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item custom-color" href="./contact.html">Contact v1</a></li>
                <li><a class="dropdown-item custom-color" href="./contact-v2.html">Contact v2</a></li>
                <li><a class="dropdown-item custom-color" href="./contact-v3.html">Contact v3</a></li>
                <li><a class="dropdown-item custom-color" href="./contact-v4.html">Contact v4</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-item custom-color dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Errors</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item custom-color" href="./error-403.html">Error 403</a></li>
                <li><a class="dropdown-item custom-color" href="./error-404.html">Error 404</a></li>
                <li><a class="dropdown-item custom-color" href="./error-500.html">Error 500</a></li>
              </ul>
            </li>
          </ul>
        </li>       
        <li class="nav-item"><a href="./about.html" class="nav-link link-body-emphasis px-3 py-3 fw-bold custom-color">About</a></li>
        <li class="nav-item"><a href="./contact.html" class="nav-link link-body-emphasis px-3 py-3 fw-bold custom-color">Contact</a></li>
      </ul>
      
      <ul class="nav">
        <li class="nav-item"><a href="./auth-login-html" class="nav-link link-body-emphasis px-3 fw-bold">Login</a></li>
        <li class="nav-item"><a href="./auth-signup-html" class="nav-link link-body-emphasis px-3 fw-bold">Sign up</a></li>
      </ul>

    </div>
  </div>
</nav>
<!-- END Nav - Style 2 -->