<!-- Top Bar - Style 2 -->
<nav class="py-0 bg-body-tertiary border-bottom fs-sm">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item"><a href="./" class="nav-link link-body-emphasis px-2 active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Features</a></li>
      <li class="nav-item"><a href="./pricing.html" class="nav-link link-body-emphasis px-2">Pricing</a></li>
      <li class="nav-item"><a href="./faqs.html" class="nav-link link-body-emphasis px-2">FAQs</a></li>
      <li class="nav-item"><a href="./about.html" class="nav-link link-body-emphasis px-2">About</a></li>
    </ul>
    <ul class="nav">
      <li class="nav-item"><a href="./add-listing.html" class="nav-link link-body-emphasis px-2">Sell Car</a></li>
      <li class="nav-item"><a href="./auth-login.html" class="nav-link link-body-emphasis px-2">Login</a></li>
      <li class="nav-item"><a href="./auth-signup.html" class="nav-link link-body-emphasis px-2">Sign up</a></li>
    </ul>
  </div>
</nav>
<!-- END Top Bar - Style 2 -->