<div class="author-box d-flex">
  <div class="author-avatar flex-shrink-0 me-md-4 me-3">
    <img class="img-fluid rounded lazy" data-src="./images/team/04.jpg" alt="">
  </div>
  <div class="author-content d-flex flex-column">
    <div class="author-title">
      <h3 class="h5 text-body-emphasis custom-color"><a href="./blog-author-profile.html" class="nav-link">Dino Sang</a></h3>
      <h4 class="fs-sm text-body-secondary text-uppercase">Automotive Expert</h4>
    </div>
    <div class="author-bio">
      <p>Dino Sang is a passionate automotive enthusiast with a deep love for all things on wheels. With years of experience in the automotive industry, he bring a unique perspective to the world of cars, trucks, and motorcycles.</p>
    </div>
    <div class="author-footer d-flex flex-md-row flex-column justify-content-between">
      <div class="author-social order-1 order-md-0">
        <ul class="list-unstyled d-flex flex-wrap justify-content-start m-0">
          <li class="mb-2 me-2"><a class="facebook btn btn-sm position-relative btn-light border rounded-circle fs-xs" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Facebook"></a></li>
          <li class="mb-2 me-2"><a class="x btn btn-sm position-relative btn-light border rounded-circle fs-xs" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="X"></a></li>
          <li class="mb-2 me-2"><a class="instagram btn btn-sm position-relative btn-light border rounded-circle fs-xs" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Instagram"></a></li>
          <li class="mb-2 me-2"><a class="linkedin btn btn-sm position-relative btn-light border rounded-circle fs-xs" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="LinkedIn"></a></li>
          <li class="mb-2 me-2"><a class="whatsapp btn btn-sm position-relative btn-light border rounded-circle fs-xs" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="WhatsApp"></a></li>
          <li class="mb-2 me-2"><a class="telegram btn btn-sm position-relative btn-light border rounded-circle fs-xs" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Telegram"></a></li>
          <li class="mb-2 me-2"><a class="website btn btn-sm position-relative btn-light border rounded-circle fs-xs" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Website"></a></li>
        </ul>
      </div>
      <div class="order-0 order-md-1 mb-3">
        <a class="btn btn-sm btn-info px-3" href="./blog-author-profile.html" role="button">View Articles</a>
      </div>
    </div>
  </div>
</div>