<div class="author-box-profile d-flex align-items-center align-items-sm-start flex-column flex-sm-row p-5 mb-5 bg-body-tertiary rounded">
  <div class="author-avatar flex-shrink-0 me-md-5 me-0">
    <img class="img-fluid rounded lazy" data-src="./images/team/04.jpg" alt="">
  </div>
  <div class="author-content d-flex flex-column text-center text-sm-start">
    <div class="author-title mb-2">
      <h3 class="h3 fw-bold text-body-emphasis custom-color">Dino Sang</h3>
      <h4 class="fs-sm text-body-secondary text-uppercase">Automotive Expert</h4>
    </div>
    <div class="author-stats">
      <div class="row mb-3 d-flex justify-content-center justify-content-sm-start">
        <div class="col-auto d-flex align-items-center">
          <span class="fs-sm fw-bold">78</span>
          <span class="ms-1 text-body-secondary">posts</span>
        </div>
        <div class="col-auto d-flex align-items-center">
          <span class="fs-sm fw-bold">249</span>
          <span class="ms-1 text-body-secondary">comments</span>
        </div>
        <div class="col-auto d-flex align-items-center">
          <span class="fs-sm fw-bold">17</span>
          <span class="ms-1 text-body-secondary">reviews</span>
        </div>
        <div class="col-auto d-flex align-items-center">
          <span class="fs-sm fw-bold">3678</span>
          <span class="ms-1 text-body-secondary">votes</span>
        </div>
      </div>
    </div>
    <div class="author-bio">
      <p class="mx-4 mx-sm-0">Dino Sang is a passionate automotive enthusiast with a deep love for all things on wheels. With years of experience in the automotive industry, he bring a unique perspective to the world of cars, trucks, and motorcycles.</p>
    </div>
    <div class="author-footer d-flex flex-md-row flex-column justify-content-between border-top pt-4 mt-2">
      <div class="author-social order-1 order-md-0">
        <h6 class="mb-3">Connect on Social Media</h6>
        <ul class="list-unstyled d-flex flex-wrap justify-content-center justify-content-sm-start m-0">
          <li class="mb-2 me-2"><a class="facebook btn btn-sm position-relative btn-light border rounded-circle fs-xs" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Facebook"></a></li>
          <li class="mb-2 me-2"><a class="x btn btn-sm position-relative btn-light border rounded-circle fs-xs" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="X"></a></li>
          <li class="mb-2 me-2"><a class="instagram btn btn-sm position-relative btn-light border rounded-circle fs-xs" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Instagram"></a></li>
          <li class="mb-2 me-2"><a class="linkedin btn btn-sm position-relative btn-light border rounded-circle fs-xs" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="LinkedIn"></a></li>
          <li class="mb-2 me-2"><a class="whatsapp btn btn-sm position-relative btn-light border rounded-circle fs-xs" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="WhatsApp"></a></li>
          <li class="mb-2 me-2"><a class="telegram btn btn-sm position-relative btn-light border rounded-circle fs-xs" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Telegram"></a></li>
          <li class="mb-2 me-2"><a class="website btn btn-sm position-relative btn-light border rounded-circle fs-xs" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Website"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>