@@include('./partials/_widgets/_search.html')

@@include('./partials/_widgets/_categories.html')

@@include('./partials/_widgets/_reviews-2.html')

@@include('./partials/_widgets/_posts-editors-pick.html')

@@include('./partials/_widgets/_posts-trending.html')

@@include('./partials/_widgets/_newsletter.html')

@@include('./partials/_widgets/_advertisement.html')

@@include('./partials/_widgets/_text.html')

@@include('./partials/_widgets/_tags.html')

@@include('./partials/_widgets/_social-media.html')