<div class="comment-list">

  <!-- Comment-->
  <div class="comment has-reply d-flex justify-content-between position-relative">
    <div class="comment-author me-3">
      <img class="comment-author-avatar img-fluid rounded-1 lazy" data-src="./images/customers/01.jpg" alt="">
    </div>
    <div class="comment-body w-100">
      <div class="comment-meta">
        <div class="comment-meta-author fw-bold"><a class="text-decoration-none link-body-emphasis" href="#">CarEnthusiast89</a></div>
        <div class="comment-meta-date text-muted">Jan 04, 2024 at 7:32 am</div>
      </div>
      <div class="comment-content mt-2 mb-2 pb-1">
        <p>Wow, amazing post! I've always wondered about the latest trends in electric vehicles, and your breakdown really clarified things. Can't wait to see what the future holds for the automotive industry.</p>
      </div>
      <div class="comment-reply-button position-absolute top-0 end-0"><a class="btn btn-sm btn-outline-secondary fs-xs" href="#">Reply</a></div>
      
      <!-- Comment Reply -->
      <div class="comment-reply is-blog-author">
        <div class="comment has-reply d-flex justify-content-between position-relative">
          <div class="comment-author me-3">
            <img class="comment-author-avatar img-fluid rounded-1 lazy" data-src="./images/team/04.jpg" alt="">
          </div>
          <div class="comment-body w-100">
            <div class="comment-meta">
              <div class="comment-meta-author fw-bold"><a class="text-decoration-none link-body-emphasis" href="#">Dino Sang</a></div>
              <div class="comment-meta-date text-muted">Jan 04, 2024 at 9:21 am</div>
            </div>
            <div class="comment-content mt-2 mb-2 pb-1">
              <p>Thank you all for the incredible feedback! It's fantastic to see such engagement from our readers. If you have any specific topics you'd like us to cover in future posts, or if there are particular questions you have, feel free to let us know. Your enthusiasm keeps the wheels turning on this automotive journey. Stay tuned for more exciting content!</p>
            </div>
            <div class="comment-reply-button position-absolute top-0 end-0"><a class="btn btn-sm btn-outline-secondary fs-xs" href="#">Reply</a></div>
            
            <!-- Comment Reply -->
            <div class="comment-reply">
              <div class="comment d-flex justify-content-between position-relative">
                <div class="comment-author me-3">
                  <img class="comment-author-avatar img-fluid rounded-1 lazy" data-src="./images/customers/01.jpg" alt="">
                </div>
                <div class="comment-body w-100">
                  <div class="comment-meta">
                    <div class="comment-meta-author fw-bold"><a class="text-decoration-none link-body-emphasis" href="#">CarEnthusiast89</a></div>
                    <div class="comment-meta-date text-muted">Jan 05, 2024 at 5:40 am</div>
                  </div>
                  <div class="comment-content mt-2 mb-2 pb-1">
                    <p>I appreciate the in-depth reviews you provide. Your latest post on the performance upgrades for muscle cars has me itching to upgrade my ride. Keep those recommendations coming!.</p>
                  </div>
                  <div class="comment-reply-button position-absolute top-0 end-0"><a class="btn btn-sm btn-outline-secondary fs-xs" href="#">Reply</a></div>
                </div>
              </div>
            </div>
            <!-- END - Comment Reply -->

          </div>
        </div>
      </div>
      <!-- END - Comment Reply -->
      
      <!-- Comment Reply -->
      <div class="comment-reply">
        <div class="comment d-flex justify-content-between position-relative">
          <div class="comment-author me-3">
            <img class="comment-author-avatar img-fluid rounded-1 lazy" data-src="./images/customers/08.jpg" alt="">
          </div>
          <div class="comment-body w-100">
            <div class="comment-meta">
              <div class="comment-meta-author fw-bold"><a class="text-decoration-none link-body-emphasis" href="#">Road Tripper</a></div>
              <div class="comment-meta-date text-muted">Jan 04, 2024 at 10:44 am</div>
            </div>
            <div class="comment-content mt-2 mb-2 pb-1">
              <p>Great insights! Planning a road trip soon, and your tips on maintaining a vehicle for long drives are super helpful. Keep up the good work!.</p>
            </div>
            <div class="comment-reply-button position-absolute top-0 end-0"><a class="btn btn-sm btn-outline-secondary fs-xs" href="#">Reply</a></div>
          </div>
        </div>
      </div>
      <!-- END - Comment Reply -->

    </div>
  </div>
  <!-- END - Comment -->

  <!-- Comment -->
  <div class="comment d-flex justify-content-between position-relative">
    <div class="comment-author me-3">
      <img class="comment-author-avatar img-fluid rounded-1 lazy" data-src="./images/customers/02.jpg" alt="">
    </div>
    <div class="comment-body w-100">
      <div class="comment-meta">
        <div class="comment-meta-author fw-bold"><a class="text-decoration-none link-body-emphasis" href="#">Eco Driver</a></div>
        <div class="comment-meta-date text-muted">Jan 05, 2024 at 6:55 pm</div>
      </div>
      <div class="comment-content mt-2 mb-2 pb-1">
        <p>Your coverage on eco-friendly vehicles is spot on. As someone passionate about sustainability, it's refreshing to see the automotive industry moving towards greener options. Kudos!
        </p>
      </div>
      <div class="comment-reply-button position-absolute top-0 end-0"><a class="btn btn-sm btn-outline-secondary fs-xs" href="#">Reply</a></div>
    </div>
  </div>
  <!-- END - Comment -->

  <!-- Comment -->
  <div class="comment d-flex justify-content-between position-relative">
    <div class="comment-author me-3">
      <img class="comment-author-avatar img-fluid rounded-1 lazy" data-src="./images/customers/05.jpg" alt="">
    </div>
    <div class="comment-body w-100">
      <div class="comment-meta">
        <div class="comment-meta-author fw-bold"><a class="text-decoration-none link-body-emphasis" href="#">VintageCarFanatic</a></div>
        <div class="comment-meta-date text-muted">Feb 11, 2024 at 12:05 pm</div>
      </div>
      <div class="comment-content mt-2 mb-2 pb-1">
        <p>Love your articles, especially the ones featuring classic cars. Your recent piece on restoring vintage vehicles inspired me to start my own restoration project. Thanks for the motivation!
        </p>
      </div>
      <div class="comment-reply-button position-absolute top-0 end-0"><a class="btn btn-sm btn-outline-secondary fs-xs" href="#">Reply</a></div>
    </div>
  </div>
  <!-- END - Comment -->

</div>