<div class="social-media-icons">
  <ul class="list-unstyled d-flex justify-content-start m-0">
    <li class="mb-2 me-2"><a class="facebook link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#"></a></li>
    <li class="mb-2 me-2"><a class="x link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#"></a></li>
    <li class="mb-2 me-2"><a class="instagram link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#"></a></li>
    <li class="mb-2 me-2"><a class="whatsapp link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#"></a></li>
    <li class="mb-2 me-2"><a class="telegram link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#"></a></li>
  </ul>
</div>