<!-- Header Style 1 -->
<header class="z-1030 position-relative z-2 shadow-sm">

  @@include('./partials/_navs/_top-bar-1.html')
  
  <div class="container d-flex flex-wrap justify-content-between align-items-center py-4 pb-0 pb-md-4 border-bottom overflow-hidden">
    <div class="logo mb-3 mx-auto m-lg-0 mb-lg-0">
      <a class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-decoration-none" href="./">
        <img class="logo-dark" src="./images/logo.png" alt="CARMART">
        <img class="logo-light" src="./images/logo-light.png" alt="CARMART">
      </a>
    </div>
    <div class="header-widgets col-12 col-lg-auto mb-1 mb-md-3 mb-lg-0">
      <div class="row g-4 g-md-5 row-cols-1 row-cols-md-3">
        <div class="h-widget-location pb-md-0 pb-4 d-inline-flex align-items-center justify-content-center position-relative">
          <div class="h-widget-icon me-3 text-primary custom-color">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="34" height="34" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 18.5l-3 -1.5l-6 3v-13l6 -3l6 3l6 -3v7"></path>
              <path d="M9 4v13"></path>
              <path d="M15 7v5"></path>
              <path d="M21.121 20.121a3 3 0 1 0 -4.242 0c.418 .419 1.125 1.045 2.121 1.879c1.051 -.89 1.759 -1.516 2.121 -1.879z"></path>
              <path d="M19 18v.01"></path>
           </svg>
          </div>
          <div class="h-widget-content">
            <p class="m-0 text-nowrap">Our Location<br>
            <span class="text-muted">77 McKinney, Texas</span></p>
          </div>
          <div class="vr opacity-15 position-absolute end-0 top-0 h-100 d-none d-md-block m-0 ms-md-3 ms-lg-0"></div>
          <hr class="hr opacity-15 position-absolute end-0 bottom-0 w-100 d-block d-md-none m-0">
        </div>
        <div class="h-widget-contact pb-md-0 pb-4 d-inline-flex align-items-center justify-content-center position-relative">
          <div class="h-widget-icon me-3 text-primary custom-color">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="34" height="34" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"></path>
           </svg>
          </div>
          <div class="h-widget-content">
            <p class="m-0 text-nowrap">+1 (800) 445 6677 <br>
            <span class="text-muted">info@carmart.com</span></p>
          </div>
          <div class="vr opacity-15 position-absolute end-0 top-0 h-100 d-none d-md-block m-0 ms-md-3 ms-lg-0"></div>
          <hr class="hr opacity-15 position-absolute end-0 bottom-0 w-100 d-block d-md-none m-0">
        </div>
        <div class="h-widget-time pb-md-0 pb-4 d-inline-flex align-items-center justify-content-center">
          <div class="h-widget-icon me-3 text-primary custom-color">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock" width="34" height="34" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
              <path d="M12 7v5l3 3"></path>
           </svg>
          </div>
          <div class="h-widget-content">
            <p class="m-0 text-nowrap">Mon - Sat: 9AM - 5PM <br>
            <span class="text-muted">Sunday Closed</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  @@include("./partials/_navs/_main-nav-1.html")

</header>
<!-- END Header Style 1 -->