<!-- Header Style 7 -->
<header class="z-1030 position-relative z-2 shadow-sm">

  @@include('./partials/_navs/_top-bar-1.html')
  
  <div class="container d-flex flex-wrap justify-content-center align-items-center py-4 border-bottom border-light-subttle">
    <div class="logo mb-3 mx-auto m-lg-0 mb-lg-0">
      <a class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-decoration-none" href="./">
        <img class="logo-dark" src="./images/logo.png" alt="CARMART">
        <img class="logo-light" src="./images/logo-light.png" alt="CARMART">
      </a>
    </div>
  </div>

  @@include("./partials/_navs/_main-nav-1.html")

</header>
<!-- END Header Style 7 -->