<!-- Contact Blocks -->
<section class="py-5 position-relative custom-color
@@ if (sectionBgType !== 'plain' && sectionBgType !== 'image' && sectionBgType !== 'video') {
  bg-body-tertiary
}
"
>
  @@ if (sectionBgType === 'plain' || sectionBgType === 'image' || sectionBgType === 'video') {
    @@ if (sectionBgType !== 'plain') {
      <div class="jarallax" data-jarallax data-speed="0.2" 
        @@ if (sectionBgType === 'video') {
          data-video-src="@@sectionBgVideo"
          data-video-start-time="@@sectionBgVideoStartTime" 
          data-video-end-time="@@sectionBgVideoEndTime"
        }
      >
      @@ if (sectionBgType === 'image') {
        <img class="jarallax-img lazy" data-src="@@sectionBgImage" alt="">
      }
    }
    <span class="position-absolute top-0 start-0 w-100 h-100 custom-color" 
    style="background-color: @@sectionBgColor; background-image: @@sectionBgGradient; opacity: @@sectionBgOpacity"></span>
  }

  <div class="container px-3 px-sm-0">
    <h2 class="fs-5 text-uppercase pb-3 mb-4 text-center">How to Reach Us</h2>
    <div class="row row-cols-3 g-4 mb-3">

      <div>
        <div class="card border h-100">
          <div class="card-body text-center d-flex flex-column">
            <div class="card-upper flex-fill mb-4">
              <div class="card-icon text-primary custom-color mb-4 mt-3">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="48" height="48" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M12 18.5l-3 -1.5l-6 3v-13l6 -3l6 3l6 -3v7" />
                  <path d="M9 4v13" />
                  <path d="M15 7v5" />
                  <path d="M21.121 20.121a3 3 0 1 0 -4.242 0c.418 .419 1.125 1.045 2.121 1.879c1.051 -.89 1.759 -1.516 2.121 -1.879z" />
                  <path d="M19 18v.01" />
                </svg>
              </div>
              <h5 class="card-title fs-4 mb-3 custom-color">Location</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary fs-6 mb-3"></h6>
              <p class="card-text opacity-75">123 Main Street, McKinney, Texas, USA. <br>Discover our conveniently located
                showroom in the heart of the city, making it easy for you to access our services.</p>
            </div>
            <h6 class="card-link text-decoration-none text-muted" role="button" data-bs-toggle="modal"
              data-bs-target="#mapModal">View on Google Map</h6>

            <!-- Modal -->
            <div class="modal fade" id="mapModal" data-bs-backdrop="static" data-bs-keyboard="false"
              tabindex="-1" aria-labelledby="mapModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title fs-5" id="mapModalLabel">Location Map</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1280.0098549576005!2d-96.62933931344406!3d33.213511486501396!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2ske!4v1690105768767!5m2!1sen!2ske"
                      width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div>
        <div class="card border h-100">
          <div class="card-body text-center d-flex flex-column">
            <div class="card-upper flex-fill mb-4">
              <div class="card-icon text-primary custom-color mb-4 mt-3">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="48" height="48" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
                </svg>
              </div>
              <h5 class="card-title fs-4 mb-3 custom-color">Phone</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary fs-6 mb-3"></h6>
              <p class="card-text opacity-75">Call our dedicated customer support by calling our 24/7 helpline for prompt assistance, and our representatives will be happy to help you with any questions or concerns you may have.</p>
              </div>
            <h6 class="text-muted"><span>Office: +1 (574) 456 789</span></h6>
          </div>
        </div>
      </div>

      <div>
        <div class="card border h-100">
          <div class="card-body text-center d-flex flex-column">
            <div class="card-upper flex-fill mb-4">
              <div class="card-icon text-primary custom-color mb-4 mt-3">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="48" height="48" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
                  <path d="M3 7l9 6l9 -6" />
                </svg>
              </div>
              <h5 class="card-title fs-4 mb-3 custom-color">Email</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary fs-6 mb-3"></h6>
              <p class="card-text opacity-75">Contact us via email for any inquiries or information, and we'll respond promptly to your queries, ensuring you receive the assistance you need in a timely manner.</p>
            </div>
            <h6 class="text-muted">info@carsmart.com</h6>
          </div>
        </div>
      </div>

    </div>
  </div>
  @@ if (sectionBgType === 'image' || sectionBgType === 'video') {
    </div>
  }
</section>
<!-- END Contact Blocks -->