<!-- Team Carousel -->
<section class="position-relative custom-color
@@ if (sectionBgType !== 'plain' && sectionBgType !== 'image' && sectionBgType !== 'video') {
  bg-body-tertiary
}
"
>
  @@ if (sectionBgType === 'plain' || sectionBgType === 'image' || sectionBgType === 'video') {
    @@ if (sectionBgType !== 'plain') {
      <div class="jarallax" data-jarallax data-speed="0.2" 
        @@ if (sectionBgType === 'video') {
          data-video-src="@@sectionBgVideo"
          data-video-start-time="@@sectionBgVideoStartTime" 
          data-video-end-time="@@sectionBgVideoEndTime"
        }
      >
      @@ if (sectionBgType === 'image') {
        <img class="jarallax-img lazy" data-src="@@sectionBgImage" alt="">
      }
    }
    <span class="position-absolute top-0 start-0 w-100 h-100 custom-color" 
    style="background-color: @@sectionBgColor; background-image: @@sectionBgGradient; opacity: @@sectionBgOpacity"></span>
  }
  <div class="container position-relative col-xxl-8 py-5 position-relative">
    <h2 class="fs-5 text-uppercase mb-3 custom-color @@if (sectionHeaderCentered) { text-center }">Our Team</h2>
    <div id="team-carousel" class="owl-carousel owl-theme"
    data-loop="@@carouselLoop"
    data-nav="@@carouselNav"
    data-dots="@@carouselDots"
    data-autoplay="@@carouselAutoplay"
    >

      @@loop("./partials/_loops/_team-member-carousel.html", "./data/team.json")

    </div>
  </div>
  @@ if (sectionBgType === 'image' || sectionBgType === 'video') {
    </div>
  }
</section>
<!-- END Team Carousel -->

@@include('./partials/_modals/_team-bio.html')