@@include('./partials/_page-sections/_hero-filter.html', { 
  sectionBgType: 'video',
  sectionBgVideo: 'https://www.youtube.com/watch?v=Ydxh8aURo1A',
  sectionBgVideoStartTime: 26,
  sectionBgVideoEndTime: 48
})

@@include('./partials/_page-sections/_browse-by-brand-logo.html', { 
  sectionBgType: 'plain',
  sectionBgColor: 'var(--bs-primary)',
  sectionBgOpacity: '0.04',
  sectionBgGradient: '',
  carouselDots: true
})

@@include('./partials/_page-sections/_browse-by-body-type-carousel.html', {
  sectionBgType: 'plain',
  sectionBgGradient: '',
  carouselDots: true
})

@@include('./partials/_page-sections/_featured-cars.html')

@@include('./partials/_page-sections/_recent-cars.html', { 
  sectionBgType: 'plain',
  sectionBgGradient: ''
})

@@include('./partials/_page-sections/_recent-reviews.html', {
  sectionBgType: 'plain',
  sectionBgColor: 'var(--bs-primary)',
  sectionBgOpacity: '0.1',
  sectionBgGradient: ''
})

@@include('./partials/_page-sections/_team-carousel.html')

@@include('./partials/_page-sections/_counters.html', {
  sectionBgType: 'plain',
  sectionBgGradient: ''
})

@@include('./partials/_page-sections/_testimonials-carousel.html')

@@include('./partials/_page-sections/_recent-blog.html', { 
  sectionBgType: 'plain',
  sectionBgGradient: ''
})

@@include('./partials/_page-sections/_our-partners.html')