@@include('./partials/_page-sections/_hero-slider.html', { 
  sectionBgType: 'image',
  sectionBgImage: './images/blog/05.jpg',
  sectionBgColor: 'var(--bs-primary)',
  sectionBgOpacity: '0.6'
})

@@include('./partials/_page-sections/_browse-by-brand.html', { 
  sectionBgType: 'plain',
  sectionBgColor: 'var(--bs-primary)',
  sectionBgOpacity: '0.04',
  sectionBgGradient: ''
})

@@include('./partials/_page-sections/_browse-by-body-type-image.html')

@@include('./partials/_page-sections/_featured-cars-v2.html', { 
  sectionBgType: 'plain',
  sectionBgGradient: ''
})

@@include('./partials/_page-sections/_recent-cars-table.html')

@@include('./partials/_page-sections/_info.html', {
  sectionBgType: 'image',
  sectionBgImage: './images/blog/09.jpg',
  sectionBgColor: 'var(--bs-primary)',
  sectionBgOpacity: '0.6'
})

@@include('./partials/_page-sections/_team-carousel.html')

@@include('./partials/_page-sections/_careers.html', {
  sectionBgType: 'plain',
  sectionBgGradient: '',
  sectionHeaderCentered: true,
})

@@include('./partials/_page-sections/_testimonials-card.html', {
  sectionHeaderCentered: true,
})

@@include('./partials/_page-sections/_newsletter-subscribe.html', { 
  sectionBgType: 'plain',
  sectionBgColor: 'var(--bs-primary)',
  sectionBgOpacity: '0.04',
  sectionBgGradient: ''
})

@@include('./partials/_page-sections/_featured-on.html')