@@include('./partials/_page-sections/_hero-filter.html', { 
  sectionBgType: 'video',
  sectionBgVideo: 'mp4:./videos/hero-01.mp4'
})

@@include('./partials/_page-sections/_browse-by-body-type.html')

@@include('./partials/_page-sections/_recent-cars.html', { 
  sectionBgType: 'plain',
  sectionBgGradient: '',
  carouselDots: true
})

@@include('./partials/_page-sections/_featured-cars-v3.html')

@@include('./partials/_page-sections/_counters.html', {
  sectionBgType: 'plain',
  sectionBgGradient: ''
})

@@include('./partials/_page-sections/_team-carousel.html')

@@include('./partials/_page-sections/_testimonials-carousel.html', { 
  sectionBgType: 'plain',
  sectionBgColor: 'var(--bs-primary)',
  sectionBgOpacity: '0.04',
  sectionBgGradient: ''
})

@@include('./partials/_page-sections/_our-partners.html')