
@@include('./partials/_page-sections/_hero-slider.html')

@@include('./partials/_page-sections/_browse-by-brand.html', { 
  sectionBgType: 'plain',
  sectionBgColor: 'var(--bs-primary)',
  sectionBgOpacity: '0.04',
  sectionBgGradient: ''
})

@@include('./partials/_page-sections/_featured-cars.html')

@@include('./partials/_page-sections/_recent-cars.html', { 
  sectionBgType: 'plain',
  sectionBgGradient: ''
})

@@include('./partials/_page-sections/_recent-reviews.html')

@@include('./partials/_page-sections/_testimonials-carousel.html', { 
  sectionBgType: 'plain',
  sectionBgColor: 'var(--bs-primary)',
  sectionBgOpacity: '0.04',
  sectionBgGradient: ''
})

@@include('./partials/_page-sections/_recent-blog.html', { 
  sectionBgType: 'plain',
  sectionBgGradient: ''
})

@@include('./partials/_page-sections/_featured-on.html')