@@include('./partials/_page-sections/_hero-filter.html', { 
  sectionBgType: 'image',
  sectionBgImage: './images/cars/hero-01.jpg'
})

@@include('./partials/_page-sections/_browse-by-brand-logo.html', { 
  sectionBgType: 'plain',
  sectionBgColor: 'var(--bs-primary)',
  sectionBgOpacity: '0.04',
  sectionBgGradient: '',
  carouselDots: true
})

@@include('./partials/_page-sections/_browse-by-body-type-image.html')

@@include('./partials/_page-sections/_recent-cars.html', { 
  sectionBgType: 'plain',
  sectionBgGradient: ''
})

@@include('./partials/_page-sections/_featured-cars-v3.html')

@@include('./partials/_page-sections/_counters.html', {
  sectionBgType: 'plain',
  sectionBgGradient: ''
})

@@include('./partials/_page-sections/_info-v2.html')

@@include('./partials/_page-sections/_recent-blog.html', { 
  sectionBgType: 'plain',
  sectionBgGradient: ''
})

@@include('./partials/_page-sections/_our-partners.html')