@@include('./partials/_page-sections/_hero-filter.html', { 
  sectionBgType: 'image',
  sectionBgImage: './images/cars/hero-02.jpg'
})

@@include('./partials/_page-sections/_browse-by-body-type.html')

@@include('./partials/_page-sections/_browse-by-brand-logo.html', { 
  sectionBgType: 'plain',
  sectionBgColor: 'var(--bs-primary)',
  sectionBgOpacity: '0.04',
  sectionBgGradient: ''
})

@@include('./partials/_page-sections/_recent-cars.html', { 
  sectionBgType: 'plain',
  sectionBgGradient: '',
  carouselDots: true
})

@@include('./partials/_page-sections/_featured-cars-v3.html')

@@include('./partials/_page-sections/_recent-blog.html', { 
  sectionBgType: 'image',
  sectionBgImage: './images/blog/04.jpg',
  sectionBgColor: 'var(--bs-primary)',
  sectionBgOpacity: '0.6'
})

@@include('./partials/_page-sections/_testimonials-carousel.html')

@@include('./partials/_page-sections/_newsletter-subscribe.html', { 
  sectionBgType: 'plain',
  sectionBgColor: 'var(--bs-primary)',
  sectionBgOpacity: '0.04',
  sectionBgGradient: ''
})

@@include('./partials/_page-sections/_our-partners.html')