@@include('./partials/_page-sections/_hero-filter.html', { 
  sectionBgType: 'image',
  sectionBgImage: './images/cars/hero-01.jpg'
})

@@include('./partials/_page-sections/_browse-by-body-type-image-carousel.html', {
  sectionBgType: 'plain',
  sectionBgColor: 'var(--bs-primary)',
  sectionBgOpacity: '0.04',
  sectionBgGradient: '',
  carouselDots: true 
})

@@include('./partials/_page-sections/_browse-by-body-type.html')

@@include('./partials/_page-sections/_featured-cars-v3.html', { 
  sectionBgType: 'image',
  sectionBgImage: './images/blog/05.jpg',
  sectionBgColor: 'var(--bs-primary)',
  sectionBgOpacity: '0.6'
})

@@include('./partials/_page-sections/_recent-cars.html', {
  sectionBgType: 'plain',
  sectionBgGradient: ''
})

@@include('./partials/_page-sections/_team-carousel.html')

@@include('./partials/_page-sections/_counters.html', {
  sectionBgType: 'plain',
  sectionBgGradient: ''
})

@@include('./partials/_page-sections/_testimonials-card.html')

@@include('./partials/_page-sections/_recent-blog.html', { 
  sectionBgType: 'plain',
  sectionBgGradient: ''
})

@@include('./partials/_page-sections/_newsletter-subscribe.html', { 
  sectionBgType: 'plain',
  sectionBgColor: 'var(--bs-primary)',
  sectionBgOpacity: '0.04',
  sectionBgGradient: ''
})