@@include('./partials/_page-sections/_hero-filter.html', { 
  sectionBgType: 'image',
  sectionBgImage: './images/cars/hero-02.jpg'
})

@@include('./partials/_page-sections/_browse-by-body-type-image.html', { 
  sectionBgType: 'plain',
  sectionBgColor: 'var(--bs-primary)',
  sectionBgOpacity: '0.1',
  sectionBgGradient: '',
  sectionHeaderCentered: true,
})

@@include('./partials/_page-sections/_featured-cars-carousel.html', { 
  featuredFullWidth: true, 
  carouselNav: false,
  carouselDots: true,
  sectionHeaderCentered: true,
})

@@include('./partials/_page-sections/_recent-cars.html', {
  sectionBgType: 'plain',
  sectionBgGradient: '',
  carouselNav: false,
  carouselDots: true,
  sectionHeaderCentered: true,
})

@@include('./partials/_page-sections/_team-carousel.html', { 
  carouselNav: false,
  carouselDots: true,
  sectionHeaderCentered: true,
})

@@include('./partials/_page-sections/_info.html', {
  sectionBgType: 'plain',
  sectionBgGradient: ''
})

@@include('./partials/_page-sections/_testimonials-carousel.html', { 
  carouselNav: false,
  carouselDots: true,
  sectionHeaderCentered: true,
})

@@include('./partials/_page-sections/_counters.html', {
  sectionBgType: 'plain',
  sectionBgGradient: ''
})

@@include('./partials/_page-sections/_newsletter-subscribe.html', { 
  sectionBgType: 'plain',
  sectionBgColor: 'var(--bs-primary)',
  sectionBgOpacity: '0.04',
  sectionBgGradient: ''
})