@@include('./partials/_page-sections/_hero-filter.html', { 
  sectionBgType: 'image',
  sectionBgImage: './images/cars/hero-02.jpg'
})

@@include('./partials/_page-sections/_browse-by-body-type-image-carousel.html', { 
  carouselDots: true
})

@@include('./partials/_page-sections/_featured-cars-v2.html')

@@include('./partials/_page-sections/_recent-cars.html', { 
  sectionBgType: 'plain',
  sectionBgGradient: '',
  carouselDots: true
})

@@include('./partials/_page-sections/_recent-reviews.html', {
  sectionBgType: 'plain',
  sectionBgColor: 'var(--bs-primary)',
  sectionBgOpacity: '0.1',
  sectionBgGradient: ''
})

@@include('./partials/_page-sections/_featured-on.html')