@@include('./partials/_page-sections/_hero-filter.html', { 
  sectionBgType: 'video',
  sectionBgVideo: 'mp4:./videos/hero-01.mp4'
})

@@include('./partials/_page-sections/_browse-by-body-type-carousel.html', {
  sectionBgType: 'plain',
  sectionBgColor: 'var(--bs-primary)',
  sectionBgOpacity: '0.04',
  sectionBgGradient: '',
  sectionHeaderCentered: true
})

@@include('./partials/_page-sections/_browse-by-brand.html', { 
  sectionHeaderCentered: true
})

@@include('./partials/_page-sections/_featured-cars-carousel.html', { 
  featuredFullWidth: true, 
  sectionHeaderCentered: true 
})

@@include('./partials/_page-sections/_counters.html', {
  sectionBgType: 'plain',
  sectionBgGradient: ''
})

@@include('./partials/_page-sections/_recent-cars-table.html', {
  sectionBgType: 'plain',
  sectionBgColor: 'var(--bs-primary)',
  sectionBgOpacity: '0.04',
  sectionBgGradient: '',
  sectionHeaderCentered: true
})

@@include('./partials/_page-sections/_testimonials-carousel.html', { 
  sectionHeaderCentered: true
})

@@include('./partials/_page-sections/_faq-1.html', {
  sectionBgType: 'plain',
  sectionBgGradient: '',   
  sectionHeaderCentered: true
})

@@include('./partials/_page-sections/_newsletter-subscribe.html', { 
  sectionBgType: 'plain',
  sectionBgColor: 'var(--bs-primary)',
  sectionBgOpacity: '0.04',
  sectionBgGradient: ''
})