<div class="container-fluid p-0">
  <div class="container py-5">
    <div class="row">

      <div class="col-md-12">

        <div class="text-center text-success custom-color color-override w-100 mb-4">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="78"  height="78"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-circle-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z" /></svg>
        </div>

        <h1 class="text-center mb-4 fw-bold text-success">Success</h1>

        <h2 class="text-center mb-4 h3">Your ad listing has been successfully submitted.</h2>

        <p class="text-center mb-0 col-md-5 mx-auto">We have received your ad listing and it is currently under review. Once approved, it will be live on our site. You will receive a confirmation email with all the details shortly.</p>
        
      </div>
      
      <div class="col-12 col-sm-11 col-md-9 col-lg-7 mx-sm-auto ">
        <div class="card p-2 p-sm-4 mt-5">
          <div class="card-body">
              <h5 class="card-title">Thank you for your submission!</h5>
              <p class="card-text"></p>
              <hr>
              <h6>Next Steps:</h6>
              <ul>
                  <li><strong>Review Period:</strong> Our team will review your ad within the next 24-48 hours.</li>
                  <li><strong>Email Confirmation:</strong> Check your email for a confirmation message and further instructions.</li>
                  <li><strong>Manage Your Ad:</strong> You can view and manage your ad from your account dashboard.</li>
              </ul>
              <p>If you have any questions, feel free to <a class="custom-color" href="./contact.html">contact us</a>.</p>
              <a href="./account-dashboard.html" class="btn btn-outline-primary custom-color rounded-2 px-4 me-2 mb-3 mb-md-0" role="button">Go to Dashboard</a>
              <a href="./add-listing.html" class="btn btn-primary custom-color rounded-2 px-4 me-2 mb-3 mb-md-0" role="button">Submit Another Ad</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
