<div class="container py-5 mb-2 mb-md-4">
  <div class="row gx-5">
    
    <div class="col-lg-8 border-end pe-5">

      <h3 class="fs-4 mb-4">Job Description</h3>

      <h3 class="fs-6 mb-2">About the Role:</h3>

      <p>As a Digital Marketer at our reputable car dealership, you will play a pivotal role in shaping our online presence and driving digital marketing initiatives. Your creativity and strategic mindset will contribute to the growth of our brand in the digital landscape. This role offers a dynamic environment where you can leverage your expertise to connect with our audience and boost our online visibility.</p>

      <br>
      
      <h3 class="fs-6 mb-2">Responsibilities:</h3>
      
      <ul class="mb-4">
        <li>Develop and implement comprehensive digital marketing strategies to enhance brand awareness and drive customer engagement.</li>
        <li>Manage and optimize online advertising campaigns across various platforms, ensuring maximum ROI.</li>
        <li>Create and curate engaging content for our website, social media channels, and email campaigns.</li>
        <li>Monitor and analyze key performance indicators (KPIs) to assess the effectiveness of digital marketing efforts.</li>
        <li>Collaborate with cross-functional teams to align digital marketing activities with overall business objectives.</li>
        <li>Stay abreast of industry trends and emerging technologies to recommend innovative and effective marketing solutions.</li>
      </ul> 

      <br>

      <h3 class="fs-6 mb-2">Qualifications:</h3>
      
      <ul class="mb-4">
        <li>Bachelor's degree in Marketing, Digital Marketing, or a related field.</li>
        <li>Proven experience in digital marketing, with a focus on the automotive industry being a significant advantage.</li>
        <li>Proficiency in utilizing digital marketing tools and platforms, including SEO, SEM, social media advertising, and analytics.</li>
        <li>Excellent written and verbal communication skills, with the ability to create compelling and effective content.</li>
        <li>Strong analytical skills and the ability to translate data into actionable insights.</li>
        <li>Creative mindset with a keen eye for design and brand aesthetics.</li>
      </ul> 

      <h3 class="fs-6 mb-2">Drive Your Career Forward:</h3>
      <p>
        <em>Join our dynamic team and be a driving force in the automotive industry's digital landscape. As a Digital Marketer, you will not only contribute to the success of our dealership but also have the opportunity to innovate and shape the future of our brand. If you are passionate about digital marketing and eager to make an impact, we invite you to accelerate your career with us.</em>
      </p>

      <h3 class="fs-6 mb-2">Rev Up Your Potential:</h3>
      <p>We believe in fostering a culture of growth and development. As a Digital Marketer with us, you will have access to continuous learning opportunities and a supportive environment that encourages you to push boundaries and achieve new milestones. Your journey with us promises not just a job, but a fulfilling career where your ideas and skills will drive success.</p>

    </div>

    <div class="col-lg-4">
      <div class="card border sticky-top">
        <div class="card-body">
          <h5 class="fw-bold fs-special fs-4 mb-1 pb-0">Overview</h5>
        </div>
        <ul class="list-group list-group-flush m-3 border-0 mt-0">
          <li
            class="list-group-item d-flex justify-content-between list-group-item-light border mb-1 rounded-1">
            <span>Category</span><span class="fw-bold">Marketing</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between list-group-item-light border mb-1 rounded-1">
            <span>Type</span><span class="fw-bold">Full-time</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between list-group-item-light border mb-1 rounded-1">
            <span>Location</span><span class="fw-bold">Remote, Australia</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between list-group-item-light border mb-1 rounded-1">
            <span>Listed</span><span class="fw-bold">Nov 12, 2023</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between list-group-item-light border mb-1 rounded-1">
            <span>Deadline</span><span class="fw-bold">Dec 10, 2023</span>
          </li>
        </ul>
        <div class="card-body pt-0">
          <div class="container p-0">
            <div class="row gy-3">
              <div class="col-12">
                <a href="./career-application.html" class="btn btn-warning w-100 d-flex justify-content-start align-items-center rounded-1" role="button"
                  class="btn btn-warning w-100 d-flex justify-content-start align-items-center rounded-1">
                  <span class="me-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-address-book" width="20"
                      height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                      stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M20 6v12a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2z"></path>
                      <path d="M10 16h6"></path>
                      <path d="M13 11m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                      <path d="M4 8h3"></path>
                      <path d="M4 12h3"></path>
                      <path d="M4 16h3"></path>
                    </svg>
                  </span>
                  <span class="">Apply for this job</span>
                </a>
              </div>
              <div class="col-12">
                <button type="button"
                  class="btn btn-dark w-100 d-flex justify-content-start align-items-center rounded-1">
                  <span class="me-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-printer" width="20"
                      height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                      stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2"></path>
                      <path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4"></path>
                      <path d="M7 13m0 2a2 2 0 0 1 2 -2h6a2 2 0 0 1 2 2v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2z"></path>
                    </svg>
                  </span>
                  <span class="">Print this job</span>
                </button>
              </div>
              <div class="col-12">
                <button type="button"
                  class="btn btn-light w-100 d-flex justify-content-start align-items-center rounded-1">
                  <span class="me-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-share" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M6 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                      <path d="M18 6m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                      <path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                      <path d="M8.7 10.7l6.6 -3.4"></path>
                      <path d="M8.7 13.3l6.6 3.4"></path>
                    </svg>
                  </span>
                  <span class="">Share this job</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="container-fluid p-0 bg-body-tertiary">
  <div class="container py-5 related-jobs">
    <div class="row">

      <div class="col-lg-9 mx-auto text-start border-1 border-bottom px-0 mb-5">
        <h3>Related Jobs</h3>
      </div>

      @@loop("./partials/_loops/_job.html", "./data/jobs-related.json")

    </div>
  </div>
</div>