<div class="bg-body border-top border-bottom">
  <div class="container-fluid p-0">

    <div class="row g-0">
      <div class="col-12">
        <div class="map-box">
          <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1280.0098549576005!2d-96.62933931344406!3d33.213511486501396!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2ske!4v1690105768767!5m2!1sen!2ske" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container-fluid p-0 px-3 px-sm-0 bg-body-tertiary">
  <div class="container py-5">
    <div class="row">

      <div class="col-md-12">

        <h1 class="text-center mb-4 fw-bold custom-color">Get In Touch</h1>

        <h2 class="text-center mb-4 h3">Your Feedback Matters</h2>

        <p class="text-center mb-0 col-md-6 mx-auto">Have questions, feedback, or inquiries? We'd love to hear from you. Please feel free to get in touch with us using the contact information provided below.</p>

      </div>
    </div>
  </div>
</div>

<div class="bg-body">
  <div class="container col-xxl-8 py-5 p-0 px-3 px-sm-0">
    <div class="row g-5">

      <div class="col-md-6">

        <h3 class="fs-5 mb-4 custom-color">Send Us A Message</h3>

        @@include("./partials/_forms/_contact-us.html")

      </div>

      <div class="col-md-6">

        <h3 class="fs-5 mb-4 custom-color">Contact Information</h3>

        <h4 class="fs-sm text-muted text-uppercase">Address</h4>
        <div class="mb-4 fs-special fs-6">
          CarMart <br>
          Automotive Street <br>
          77 McKinney, Texas
        </div>

        <h4 class="fs-sm text-muted text-uppercase">Phone</h4>
        <div class="mb-4 fs-special fs-6">
          +1 800 123 4567 <br>
          +1 800 765 4321
        </div>

        <h4 class="fs-sm text-muted text-uppercase">Email</h4>
        <div class="mb-4 fs-special fs-6">
          info@carmartsite.com <br>
          sales@carmartsite.com  <br>
          support@carmartsite.com 
        </div>
        
        <h4 class="fs-sm text-muted text-uppercase">Opening Times</h4>
        <div class="mb-4 fs-special fs-6">
          Monday - Friday 9.00AM to 6.00PM<br>
          Saturday - 10.00AM to 5.00PM  <br>
          Sunday - Please call us to book appointment
        </div>

      </div>
      
    </div>
  </div>
</div>

<div class="bg-body-tertiary">
  <div class="container col-xxl-8 py-5 p-0 px-3 px-sm-0">

    <div class="row">
      <div class="col-12">

        <!-- Newsletter Widget  -->
        <div class="widget newsletter-widget text-center col-lg-7 col-md-10 mx-auto p-3 mb-4">
          <h3 class="widget-title fs-4 text-uppercase mb-3 fw-bold custom-color custom-color">Subscribe to Our Newsletter</h3>
          <div class="widget-body">
            <p class="text-muted">Subscribe to our newsletter to receive exclusive updates and offers.</p>
            <form id="newsletter-subscribe-sidebar-widget">
              <div class="input-group">
                <input type="email" class="form-control custom-color bg-body" placeholder="Enter your email" aria-label="Subscribe to our Newsletter" aria-describedby="button-newsletter-subscribe">
                <button class="btn btn-outline-secondary rounded-end  custom-color color-override" type="button" id="button-newsletter-subscribe"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 19h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v5.5"></path><path d="M16 19h6"></path><path d="M19 16v6"></path><path d="M3 7l9 6l9 -6"></path></svg></button>
              </div>
            </form>
          </div>
        </div>
        <!-- END Newsletter Widget  -->

      </div>
    </div>
    
  </div>
</div>