<div class="container-fluid p-0 bg-body-tertiary">
  <div class="container py-5">
    <div class="row py-5">

      <div class="col-md-12 py-5">

        <h1 class="text-center mb-4 display-1-large">403</h1>

        <h2 class="text-center mb-4 fw-bold custom-color">Forbidden</h2>

        <h3 class="text-center mb-4 h3">Access Denied</h3>

        <p class="text-center mb-0 col-md-5 mx-auto">We apologize, but you do not have permission to access this page. If you believe this is an error, please contact our support team for assistance. You can also return to our <a class="custom-color" href="./">homepage</a>.</p>
        
      </div>
    </div>
  </div>
</div>