@@if (devMode) {
  <script src="js/color-modes.js"></script>
}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@@docTitle</title>

<link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">

<!-- Load Google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
@@if (enqueueFile.owlcarousel) {
<!-- Owl Carousel stylesheet -->
<link rel="stylesheet" href="libs/owl.carousel/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="libs/owl.carousel/dist/assets/owl.theme.default.min.css">
}
@@if (enqueueFile.magnificpopup) {
<!-- Magnific Popup stylesheet -->
<link rel="stylesheet" href="libs/magnific-popup/dist/magnific-popup.css">
}
@@if (enqueueFile.nouislider) {
<!-- Noui Slider stylesheet -->
<link rel="stylesheet" href="libs/nouislider/dist/nouislider.min.css">
}
@@if (enqueueFile.plyr) {
<!-- Plyr stylesheet -->
<link rel="stylesheet" href="libs/plyr/dist/plyr.css">
}
<!-- Simplebar stylesheet -->
<link rel="stylesheet" href="libs/simplebar/dist/simplebar.min.css">
<noscript>
  <style>
    /**
    * Reinstate scrolling for non-JS clients
    */
    .simplebar-content-wrapper {
      scrollbar-width: auto;
      -ms-overflow-style: auto;
    }

    .simplebar-content-wrapper::-webkit-scrollbar,
    .simplebar-hide-scrollbar::-webkit-scrollbar {
      display: initial;
      width: initial;
      height: initial;
    }
  </style>
</noscript>

<!-- Jarallax stylesheet -->
<link rel="stylesheet" href="libs/jarallax/dist/jarallax.min.css">

<!-- Site stylesheet -->
<link rel="stylesheet" href="css/style.min.css">

<!-- Color scheme -->
<link id="templateColorScheme" rel="stylesheet" href="css/color-schemes/tc_red.css">

<!-- Preloader stylesheet -->
<link rel="stylesheet" href="css/preloader.css">

<!-- Preloader JavaScript -->
<script src="js/preloader.js"></script>