    <main>

      @@if (contentType === 'index') {
        @@include('./partials/_home/_home-v1.html')
      }

      @@if (contentType === 'home-1') {
        @@include('./partials/_home/_home-v1.html')
      }

      @@if (contentType === 'home-2') {
        @@include('./partials/_home/_home-v2.html')
      }

      @@if (contentType === 'home-3') {
        @@include('./partials/_home/_home-v3.html')
      }

      @@if (contentType === 'home-4') {
        @@include('./partials/_home/_home-v4.html')
      }

      @@if (contentType === 'home-5') {
        @@include('./partials/_home/_home-v5.html')
      }

      @@if (contentType === 'home-6') {
        @@include('./partials/_home/_home-v6.html')
      }

      @@if (contentType === 'home-7') {
        @@include('./partials/_home/_home-v7.html')
      }

      @@if (contentType === 'home-8') {
        @@include('./partials/_home/_home-v8.html')
      }

      @@if (contentType === 'home-9') {
        @@include('./partials/_home/_home-v9.html')
      }

      @@if (contentType === 'home-10') {
        @@include('./partials/_home/_home-v10.html')
      }

      @@if (contentType === 'about') {
        @@include('./partials/_about.html')
      }

      @@if (contentType === 'about-2') {
        @@include('./partials/_about-v2.html')
      }

      @@if (contentType === 'team') {
        @@include('./partials/_team.html')
      }

      @@if (contentType === 'team-v2') {
        @@include('./partials/_team-v2.html')
      }

      @@if (contentType === 'services') {
        @@include('./partials/_services.html')
      }

      @@if (contentType === 'services-2') {
        @@include('./partials/_services-v2.html')
      }

      @@if (contentType === 'faqs') {
        @@include('./partials/_faqs.html')
      }

      @@if (contentType === 'faqs-2') {
        @@include('./partials/_faqs-v2.html')
      }

      @@if (contentType === 'faqs-3') {
        @@include('./partials/_faqs-v3.html')
      }

      @@if (contentType === 'privacy-policy') {
        @@include('./partials/_privacy-policy.html')
      }

      @@if (contentType === 'cookie-policy') {
        @@include('./partials/_cookie-policy.html')
      }

      @@if (contentType === 'terms-of-service') {
        @@include('./partials/_terms-of-service.html')
      }

      @@if (contentType === 'contact') {
        @@include('./partials/_contact.html')
      }

      @@if (contentType === 'contact-2') {
        @@include('./partials/_contact-v2.html')
      }

      @@if (contentType === 'contact-3') {
        @@include('./partials/_contact-v3.html')
      }

      @@if (contentType === 'contact-4') {
        @@include('./partials/_contact-v4.html')
      }

      @@if (contentType === 'error-403') {
        @@include('./partials/_error-403.html')
      }

      @@if (contentType === 'error-404') {
        @@include('./partials/_error-404.html')
      }

      @@if (contentType === 'error-500') {
        @@include('./partials/_error-500.html')
      }

      @@if (contentType === 'auth-login') {
        @@include('./partials/_auth/_login.html')
      }

      @@if (contentType === 'auth-login-fullscreen') {
        @@include('./partials/_auth/_login-fullscreen.html')
      }

      @@if (contentType === 'auth-login-modern') {
        @@include('./partials/_auth/_login-modern.html')
      }

      @@if (contentType === 'auth-login-cover') {
        @@include('./partials/_auth/_login-cover.html')
      }

      @@if (contentType === 'auth-forgot-password') {
        @@include('./partials/_auth/_forgot-password.html')
      }

      @@if (contentType === 'auth-forgot-password-fullscreen') {
        @@include('./partials/_auth/_forgot-password-fullscreen.html')
      }

      @@if (contentType === 'auth-forgot-password-modern') {
        @@include('./partials/_auth/_forgot-password-modern.html')
      }

      @@if (contentType === 'auth-forgot-password-cover') {
        @@include('./partials/_auth/_forgot-password-cover.html')
      }

      @@if (contentType === 'auth-signup') {
        @@include('./partials/_auth/_signup.html')
      }

      @@if (contentType === 'auth-signup-fullscreen') {
        @@include('./partials/_auth/_signup-fullscreen.html')
      }

      @@if (contentType === 'auth-signup-modern') {
        @@include('./partials/_auth/_signup-modern.html')
      }

      @@if (contentType === 'auth-signup-cover') {
        @@include('./partials/_auth/_signup-cover.html')
      }
      
      @@if (contentType === 'car-filter-grid') {
        @@include('./partials/_car/_car-filter-grid.html')
      } 
      
      @@if (contentType === 'car-filter-list') {
        @@include('./partials/_car/_car-filter-list.html')
      } 
      
      @@if (contentType === 'car-details-v2') {
        @@include('./partials/_car/_car-details-v2.html')
      } 
      
      @@if (contentType === 'car-details') {
        @@include('./partials/_car/_car-details.html')
      } 
      
      @@if (contentType === 'cars-sold') {
        @@include('./partials/_car/_cars-sold.html')
      } 
      
      @@if (contentType === 'car-sold-details') {
        @@include('./partials/_car/_car-sold-details.html')
      } 
      
      @@if (contentType === 'blog-grid-3-cols') {
        @@include('./partials/_blog/_blog-grid-3-cols.html')
      } 
      
      @@if (contentType === 'blog-grid-4-cols') {
        @@include('./partials/_blog/_blog-grid-4-cols.html')
      } 
      
      @@if (contentType === 'blog-grid-minimal') {
        @@include('./partials/_blog/_blog-grid-minimal.html')
      } 
      
      @@if (contentType === 'blog-grid-sidebar-left') {
        @@include('./partials/_blog/_blog-grid-sidebar-left.html')
      } 
      
      @@if (contentType === 'blog-grid-sidebar-right') {
        @@include('./partials/_blog/_blog-grid-sidebar-right.html')
      } 
      
      @@if (contentType === 'blog-list') {
        @@include('./partials/_blog/_blog-list.html')
      } 
      
      @@if (contentType === 'blog-list-sidebar-left') {
        @@include('./partials/_blog/_blog-list-sidebar-left.html')
      }  
      
      @@if (contentType === 'blog-list-sidebar-right') {
        @@include('./partials/_blog/_blog-list-sidebar-right.html')
      }
      
      @@if (contentType === 'blog-minimal') {
        @@include('./partials/_blog/_blog-minimal.html')
      } 
      
      @@if (contentType === 'blog-article-classic') {
        @@include('./partials/_blog/_blog-article-classic.html')
      } 
      
      @@if (contentType === 'blog-article-classic-2') {
        @@include('./partials/_blog/_blog-article-classic-2.html')
      } 
      
      @@if (contentType === 'blog-article-minimal') {
        @@include('./partials/_blog/_blog-article-minimal.html')
      } 
      
      @@if (contentType === 'blog-article-minimal-2') {
        @@include('./partials/_blog/_blog-article-minimal-2.html')
      } 
      
      @@if (contentType === 'blog-authors') {
        @@include('./partials/_blog/_blog-authors.html')
      } 
      
      @@if (contentType === 'blog-author-profile') {
        @@include('./partials/_blog/_blog-author-profile.html')
      } 
      
      @@if (contentType === 'blog-author-profile-2') {
        @@include('./partials/_blog/_blog-author-profile-2.html')
      } 
      
      @@if (contentType === 'compare') {
        @@include('./partials/_compare-table.html')
      }
      
      @@if (contentType === 'testimonials') {
        @@include('./partials/_testimonials.html')
      } 
      
      @@if (contentType === 'careers') {
        @@include('./partials/_careers.html')
      } 
      
      @@if (contentType === 'career-details') {
        @@include('./partials/_career-details.html')
      } 
      
      @@if (contentType === 'career-application') {
        @@include('./partials/_career-application.html')
      } 
      
      @@if (contentType === 'reviews') {
        @@include('./partials/_review/_reviews.html')
      } 
      
      @@if (contentType === 'review-details') {
        @@include('./partials/_review/_review-details.html')
      } 
      
      @@if (contentType === 'reviewers') {
        @@include('./partials/_review/_reviewers.html')
      } 
      
      @@if (contentType === 'reviewer-profile') {
        @@include('./partials/_review/_reviewer-profile.html')
      } 
      
      @@if (contentType === 'brands') {
        @@include('./partials/_brands.html')
      } 
      
      @@if (contentType === 'brands-v2') {
        @@include('./partials/_brands-v2.html')
      } 
      
      @@if (contentType === 'add-listing-success') {
        @@include('./partials/_add-listing-success.html')
      } 
      
      @@if (contentType === 'add-listing-payment') {
        @@include('./partials/_add-listing-payment.html')
      } 
      
      @@if (contentType === 'add-listing') {
        @@include('./partials/_add-listing.html')
      } 
      
      @@if (contentType === 'edit-listing') {
        @@include('./partials/_edit-listing.html')
      } 
      
      @@if (contentType === 'pricing') {
        @@include('./partials/_pricing.html')
      }
      
      @@if (contentType === 'pricing-2') {
        @@include('./partials/_pricing-v2.html')
      }
      
      @@if (contentType === 'sitemap') {
        @@include('./partials/_sitemap.html')
      } 
      
      @@if (contentType === 'vendor-profile') {
        @@include('./partials/_vendor/_vendor-profile.html')
      } 
      
      @@if (contentType === 'dashboard') {
        @@include('./partials/_account/_dashboard.html')
      } 
      
      @@if (contentType === 'account-listings') {
        @@include('./partials/_account/_listings.html')
      } 
      
      @@if (contentType === 'account-favorites') {
        @@include('./partials/_account/_favorites.html')
      } 
      
      @@if (contentType === 'account-user-reviews') {
        @@include('./partials/_account/_user-reviews.html')
      } 
      
      @@if (contentType === 'account-my-reviews') {
        @@include('./partials/_account/_my-reviews.html')
      } 
      
      @@if (contentType === 'account-messages') {
        @@include('./partials/_account/_messages.html')
      } 
      
      @@if (contentType === 'account-settings-profile') {
        @@include('./partials/_account/_settings-profile.html')
      }
      
      @@if (contentType === 'account-settings-security') {
        @@include('./partials/_account/_settings-security.html')
      }
      
      @@if (contentType === 'account-settings-notifications') {
        @@include('./partials/_account/_settings-notifications.html')
      }
      
      @@if (contentType === 'account-settings-messages') {
        @@include('./partials/_account/_settings-messages.html')
      }
      
      @@if (contentType === 'account-settings-delete') {
        @@include('./partials/_account/_settings-delete.html')
      }

      <!-- Miscellaneous -->
      @@if (
        contentType !== 'auth-login-fullscreen' && 
        contentType !== 'auth-login-modern' && 
        contentType !== 'auth-login-cover' &&
        contentType !== 'auth-signup-fullscreen' && 
        contentType !== 'auth-signup-modern' && 
        contentType !== 'auth-signup-cover' &&
        contentType !== 'auth-forgot-password-fullscreen' && 
        contentType !== 'auth-forgot-password-modern' && 
        contentType !== 'auth-forgot-password-cover'
      ) {
        @@include('./partials/_misc.html')
      }

    </main>