<nav aria-label="Content navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item custom-color me-auto">
      <a class="page-link page-prev border-0 p-0 bg-transparent" href="javascript:void()" aria-label="Previous">
        <span class="d-flex align-items-center" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M15 6l-6 6l6 6" />
        </svg>
        </span>
        <span class="arrow-edge"></span>
      </a>
    </li>
    <li class="page-item custom-color"><a class="page-link active" href="javascript:void()">1</a></li>
    <li class="page-item custom-color"><a class="page-link" href="javascript:void()">2</a></li>
    <li class="page-item custom-color"><a class="page-link" href="javascript:void()">3</a></li>
    <li class="page-item custom-color ms-auto">
      <a class="page-link page-next border-0 p-0 bg-transparent" href="javascript:void()" aria-label="Next">
        <span class="d-flex align-items-center" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M9 6l6 6l-6 6" />
        </svg></span>
        <span class="arrow-edge"></span>
      </a>
    </li>
  </ul>
</nav>