<div class="container-fluid p-0">
  <div class="container py-5">
    <div class="row">

      <div class="col-md-12">

        <h1 class="text-center mb-4 fw-bold custom-color">Transparent Pricing</h1>

        <h2 class="text-center mb-4 h3">Pricing that Empowers Your Choices</h2>

        <p class="text-center mb-0 col-md-5 mx-auto">Discover the Perfect Plan Tailored to Your Needs with Clear and Competitive Options!</p>
        
      </div>
    </div>
  </div>
</div>

@@include('./partials/_page-sections/_pricing-v2.html', {
  sectionBgType: 'plain',
  sectionBgGradient: '',   
  sectionHeaderCentered: true
})

@@include('./partials/_page-sections/_faq-2.html', {
  sectionBgType: '',
  sectionBgGradient: '',   
  sectionHeaderCentered: true
})