<div class="container-fluid p-0">
  <div class="container py-5">
    <div class="row">

      <div class="col-md-12">

        <h1 class="text-center mb-4 fw-bold custom-color">CarMart Privacy Policy</h1>

        <p class="text-center mb-0 col-md-5 mx-auto"><strong>Effective Date:</strong> 2024 Jan 11</p>

      </div>

      <div class="col-12 col-md-9 mx-auto bg-body p-5 pt-3 rounded">
        <h2 class="pt-4 fs-4 fw-bold">1. Introduction</h2>
      
        <p>Welcome to CarMart. We value your privacy and are committed to protecting your personal information. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website and use our services.</p>

        <h2 class="pt-4 fs-4 fw-bold">2. Information We Collect</h2>
        <h3 class="fs-5">2.1. Personal Information</h3>
        <p>We may collect the following personal information when you use our website or services:</p>
        <ul class="list-unstyled ps-4">
            <li>- Name</li>
            <li>- Contact information, including email address and phone number</li>
            <li>- Address</li>
            <li>- Payment information</li>
            <li>- Vehicle information, including make, model, year, and VIN</li>
            <li>- User-generated content</li>
        </ul>

        <h3 class="fs-5">2.2. Non-Personal Information</h3>
        <p>We may also collect non-personal information such as:</p>
        <ul class="list-unstyled ps-4">
            <li>- Browser type</li>
            <li>- Operating system</li>
            <li>- IP address</li>
            <li>- Clickstream data</li>
            <li>- Usage patterns</li>
        </ul>

        <h2 class="pt-4 fs-4 fw-bold">3. How We Use Your Information</h2>
        <p>We may use your information for the following purposes:</p>
        <ul class="list-unstyled ps-4">
            <li>- Provide and personalize our services</li>
            <li>- Process transactions</li>
            <li>- Respond to your inquiries and requests</li>
            <li>- Send promotional emails and updates</li>
            <li>- Improve our website and services</li>
            <li>- Comply with legal and regulatory requirements</li>
        </ul>

        <h2 class="pt-4 fs-4 fw-bold">4. Cookies and Tracking Technologies</h2>
        <p>We use cookies and similar tracking technologies to enhance your browsing experience and collect information about your online activities. You can control cookies through your browser settings.</p>

        <h2 class="pt-4 fs-4 fw-bold">5. Disclosure of Your Information</h2>

        <p>We may share your information with third parties for the following purposes:</p>
        <ul class="list-unstyled ps-4">
          <li>- Service providers: To assist in providing our services.</li>
          <li>- Legal requirements: To comply with the law or protect our rights.</li>
          <li>- Business transfers: In connection with a merger, acquisition, or sale of assets.</li>
        </ul>

        <h2 class="pt-4 fs-4 fw-bold">6. Security</h2>

        <p>We take reasonable measures to protect your information from unauthorized access or disclosure. However, no data transmission or storage is entirely secure, and we cannot guarantee the security of your data.

        <h2 class="pt-4 fs-4 fw-bold">7. Your Choices</h2>

        <p>You can exercise certain choices regarding your information, including opting out of marketing communications and updating your personal information.

        <h2 class="pt-4 fs-4 fw-bold">8. Children's Privacy</h2>

        <p>Our website is not intended for children under the age of 13. We do not knowingly collect information from children.</p>

        <h2 class="pt-4 fs-4 fw-bold">9. Changes to this Privacy Policy</h2>

        <p>We may update this Privacy Policy from time to time. Any changes will be posted on this page with an updated effective date.</p>

        <h2 class="pt-4 fs-4 fw-bold">10. Contact Us</h2>

        <p>If you have questions or concerns about this Privacy Policy or your information, please contact us at:</p>

        <p class="fs-special">
          CarMart <br>
          77 McKinney, Texas <br>
          info@carmartsite.com <br>
          +1 (800) 445 6677 
        </p>

        Thank you for using CarMart. Your privacy is important to us.
      </div>
      
    </div>
  </div>
</div>