@@if (enqueueFile.jquery) {
<!-- jQuery -->
<script src="libs/jquery/dist/jquery.min.js"></script>
}
@@if (enqueueFile.owlcarousel) {
<!-- Owl Carousel plugin -->
<script src="libs/owl.carousel/dist/owl.carousel.min.js"></script>
}
@@if (enqueueFile.magnificpopup) {
<!-- Magnific Popup plugin -->
<script src="libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
}
@@if (enqueueFile.masonry) {
<!-- Masonry plugin -->
<script src="libs/masonry-layout/dist/masonry.pkgd.min.js"></script>
}
@@if (enqueueFile.nouislider) {
<!-- Nouislider plugin -->
<script src="libs/nouislider/dist/nouislider.min.js"></script>
}
@@if (enqueueFile.judoSpin) {
<!-- Judo Spin plugin -->
<script src="libs/judo-spin/dist/js/judo-spin.min.js"></script>
}
@@if (enqueueFile.apexcharts) {
<!-- Apex Charts plugin -->
<script src="libs/apexcharts/dist/apexcharts.min.js"></script>
}
@@if (enqueueFile.plyr) {
<!-- Plyr plugin -->
<script src="libs/plyr/dist/plyr.min.js"></script>
}
@@if (enqueueFile.lazy) {
<!-- jQuery Lazy plugin -->
<script src="libs/jquery-lazy/jquery.lazy.min.js"></script>
}
<!-- Simplebar plugin -->
<script src="libs/simplebar/dist/simplebar.min.js"></script>

<!-- Bootstrap bundle -->
<script src="libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Jarallax plugin -->
<script src="libs/jarallax/dist/jarallax.min.js"></script>
<script src="libs/jarallax/dist/jarallax-video.min.js"></script>

<!-- FlyTo plugin -->
<script src="libs/fly-to/dist/js/fly-to.min.js"></script>

<!-- Main JavaScript -->
<script src="js/script.min.js"></script>

@@if (devMode) {
  <script src="./switcher/switcher.min.js"></script>
}