<div class="container-fluid p-0">
  <div class="container py-5">
    <div class="row">

      <div class="col-md-12">

        <h1 class="text-center mb-4 fw-bold custom-color">CarMart Terms of Service</h1>

        <p class="text-center mb-0 col-md-5 mx-auto"><strong>Effective Date:</strong> 2024 Feb 28</p>

      </div>
      
      <div class="col-12 col-md-9 mx-auto bg-body p-5 pt-3 rounded">

        <h2 class="pt-4 fs-4 fw-bold">1. Acceptance of Terms</h2>
        <p>By using CarMart, you agree to comply with and be bound by these Terms of Service. If you do not agree with any part of these terms, please do not use our services.</p>

        <h2 class="pt-4 fs-4 fw-bold">2. Use of Services</h2>
        <p>You may use our website and services for lawful purposes and in compliance with these terms. You are responsible for your use of our services.</p>

        <h2 class="pt-4 fs-4 fw-bold">3. User Accounts</h2>
        <p>If you create an account on CarMart, you are responsible for maintaining the security of your account. You agree to provide accurate and complete information during the registration process.</p>

        <h2 class="pt-4 fs-4 fw-bold">4. Content</h2>
        <p>Our website may allow you to post, link, and share content. You retain ownership of your content, and you grant us a non-exclusive license to use, display, and distribute your content on our website.</p>

        <h2 class="pt-4 fs-4 fw-bold">5. Privacy</h2>
        <p>Your use of our services is also governed by our <a href="./privacy-policy.html">Privacy Policy</a>. Please review the Privacy Policy to understand how we collect, use, and protect your information.</p>

        <h2 class="pt-4 fs-4 fw-bold">6. Termination</h2>
        <p>We may terminate or suspend your access to our services without notice if you violate these terms or engage in unlawful conduct. You may also terminate your account at any time.</p>

        <h2 class="pt-4 fs-4 fw-bold">7. Changes to Terms</h2>
        <p>We may update these Terms of Service from time to time. Any changes will be posted on this page with an updated effective date.</p>

        <h2 class="pt-4 fs-4 fw-bold">8. Contact Us</h2>
        <p>If you have questions or concerns about these Terms of Service, please contact us at:</p>

        <p class="fs-special">
          CarMart <br>
          77 McKinney, Texas <br>
          info@carmartsite.com <br>
          +1 (800) 445 6677 
        </p>

        <p>Thank you for using CarMart and abiding by our Terms of Service.</p>

      </div>

    </div>
  </div>
</div>