#featured-cars-carousel {
  &.owl-carousel {
    .item-preview.carousel {
      .carousel-inner .carousel-item {
        height: 450px !important
      }
      
      .carousel-control-next {
        right:-63px
      }
      
      .carousel-control-prev {
        left:-63px
      }
      
      &:hover .carousel-control-next {
        right:0
      }
      &:hover .carousel-control-prev {
        left:0
      }
    }
    
    .owl-nav {
      position: absolute;
      top: -78px;
      right: 0;
      margin-top: 0;

      .owl-next,
      .owl-prev {
        background-color: #ddd;
        color: #717171;
        width: 40px;
        height: 40px;
        border-radius: 50%;

        &:focus {
          outline: 0
        }        

        &:hover {
          background: #a4a4a4;
          color: #fff
        }
      }
    }
  }

  &.owl-theme:not([data-dots=false]) {
    .owl-dots {
      padding-top: 25px;
      
      .owl-dot {
        &.active span {
          width: 30px;
          background: #fc0;
        }
    
        span {
          transition: all 0.3s ease
        }
      }
    }
  }
}

[data-bs-theme=dark] {
  #featured-cars-carousel {
    &.owl-carousel {
      .owl-nav {
        
        .owl-next,
        .owl-prev {
          background-color: #575757;
          color: #ebebeb;
          
          &:hover {
            background: #626262;
            color: #fff
          }
        }
      }
    }
  }
}