.careers-list,
.jobs-list,
.related-jobs {
  .job-item {
    &:last-of-type {
      border: none !important
    }

    .job-details {

      .btn {
        position: relative;
        width: 30px;
        height: 30px;
        display: block;

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-10px, -10px);
          width: 20px;
          height: 20px;
          background-color: #333;
          -webkit-mask-image: url(../icons/chevron-right.svg);
          mask-image: url(../icons/chevron-right.svg);
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-size: 20px 20px;
          mask-size: 20px 20px;
        }
      }
    }
  }
}