//@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');

@import 'review-details';

.review-progress {
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  -webkit-transform: translateX(-70px);
  transform: translateX(-70px);

  &::after {
    content: '';
    width: 140px;
    height: 140px;
    position: absolute;
    top: 0;
    left: 0;
    // background-color: rgb(247, 190, 2);
    background-color: rgb(0, 0, 0, .45);
    border-radius: 50%;
    z-index: -1
  }

  .barOverflow {
    /* Wraps the rotating .bar */
    position: relative;
    overflow: hidden;
    /* Comment this line to understand the trick */
    width: 140px;
    height: 65px;
    /* Half circle (overflow) */
    margin-bottom: -30px;
    /* bring the numbers up */
  }

  .bar {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 120px;
    height: 120px;
    /* full circle! */
    border-radius: 50%;
    box-sizing: border-box;
    border: 10px solid #eee;
    /* half gray, */
    border-bottom-color: #00d7af;
    /* half azure */
    border-right-color: #00d7af;
    -webkit-filter: drop-shadow(0 -2px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0 -2px 5px rgba(0, 0, 0, 0.5));
    
    @mixin set-rating-border($rating) {
      &.#{$rating} {
        border-bottom-color: map-get($rating-colors, $rating);
        border-right-color: map-get($rating-colors, $rating);
      }
    }

    @each $rating in $ratings {
      @include set-rating-border($rating);
    }
    
  }

  .bar-text {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Antonio', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-filter: drop-shadow(0 -2px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0 -2px 5px rgba(0, 0, 0, 0.5));
    // background: linear-gradient(to right, #e5405e 0%, #ffdb3a 45%, #3fffa2 100%);
    // background: -webkit-linear-gradient(#eee, #333);
    // -webkit-background-clip: text;
    // background-clip: text;
    // -webkit-text-fill-color: transparent;
  }
}


.reviews-widget {
  &.reviews-widget-2 {
    .review-item {
      height: 80px;
      transition: all 0.5s ease-out;

      .card-img-overlay::before {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 1;
        background: rgba(53, 55, 55, 0.22);
      }

      &:hover {
        height: 180px;

        .card-img-overlay::before {
          opacity: 1;
          background: -webkit-linear-gradient(0deg, rgba(253, 187, 45, .0060224774) 0, rgba(53, 55, 55, 0.42) 67%);
          background: linear-gradient(0deg, rgba(253, 187, 45, .0060224774) 0, rgba(53, 55, 55, 0.42) 67%);
          transition: all .66s cubic-bezier(.55, .24, .18, 1)
        }
      }

      .review-title,
      .review-grade {
        position: relative;
        z-index: 1;
      }

      .review-title {
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
        width: calc(100% - 50px);
      }
    }
  }

  .review-item {
    .review-grade {
      padding: 2px 6px;
      color: #fff;

      @each $rating in $ratings {
        @include set-rating-bg-color($rating);
      }
    }

    .card-image img {
      height: 135px;
      max-height: 135px
    }
  }
}

.review-item {
  .author-img {
    width: 40px;
    height: 40px
  }

  .card-image img {
    height: 200px;
    max-height: 200px
  }
}

.reviewer-card {
  .author-img {
    width: 100px;
    height: 100px
  }
}



/* Reviewer Box */
.reviewer-box,
.reviewer-box-profile {
  .reviewer-avatar {
    width: 65px
  }

  .reviewer-social {
    a {
      display: inline-block;
      width: 32px;
      height: 32px;
      position: relative;
      transition: all 300ms ease;
      border-radius: 50%;
      background-color: var(--#{$prefix}btn-bg);

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-10px, -10px);
        width: 20px;
        height: 20px;
        background-color: rgba(var(--#{$prefix}body-color-rgb), .75);
        -webkit-mask-image: $website-logo;
        mask-image: $website-logo;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 20px 20px;
        mask-size: 20px 20px;
      }

      &:hover {
        background-color: var(--#{$prefix}btn-hover-bg);
      }

      @mixin review-reviewer-social-icon($logo) {
        &::after {
          content: "";
          -webkit-mask-image: $logo;
          mask-image: $logo;
        }
      }

      @each $social,
      $values in $social-media-icons {
        &.#{$social} {
          @include review-reviewer-social-icon(map-get($values, iconLogo));
        }
      }
    }
  }
}

/* Reviewer Box - Profile Page */
.reviewer-box-profile {
  .reviewer-avatar {
    min-width: 220px
  }
}

/* Reviewer Box dark theme */
[data-bs-theme=dark] {
  .reviewer-box, 
  .reviewer-box-profile {
    .reviewer-social {
      a {
        background-color: var(--#{$prefix}light-bg-subtle);
        
        &:hover {
          background-color: var(--#{$prefix}tertiary-bg);
        }
      }
    }
  }
}

.review-detailed-item {
  .badge {
    @each $rating in $ratings {
      @include set-rating-bg-color($rating);
    }
  }
}