@@if (image) {

  <!-- Body Type Image -->
  <div class="item">
    <div class="p-1">
      <div class="card body-type-card border-0 shadow-alt-sm">
        <div class="card-body d-flex flex-column align-items-center">
          <h5 class="card-title fw-bold fs-sm fs-special m-0">@@name</h5>
          <div class="body-type-img overflow-hidden position-relative my-2">
            <img class="img-fluid img-grayscale-max lazy" data-src="@@image" alt="">
          </div>
          <a href="javascript:void(0)" class="stretched-link"></a>
          <div class="body-type-count p-1 px-2 bg-secondary-subtle text-secondary fs-xs lh-level fw-bold d-inline-flex align-middle text-center rounded-pill">@@offers</div>
        </div>
      </div>
    </div>
  </div>
  <!-- END Body Type Image -->

}