@@if (logo) {

<!-- Brand Item -->
<div class="item">
  <div class="card border bg-light-subtle border-light-subtle">
    <div class="card-body d-flex flex-column align-items-center">
      <h5 class="card-title fw-bold fs-6 fs-special">@@name</h5>
      <p class="card-text">
        <div class="car-brand-logo overflow-hidden">
          <div style="--car-brand-logo: url(@@logo)" class="car-brand text-primary fs-5 fw-bold"></div>
          <a href="javascript:void(0)" class="stretched-link"></a>
        </div>
      </p>
    </div>
    <div class="card-footer text-body-secondary text-primary custom-color text-center text-uppercase fs-sm">
      <strong>@@offers</strong> Offers Available
    </div>
  </div>
</div>
<!-- END Brand Item -->

}