<!-- Chat Pane -->
<div id="chat-@@chatId" class="card border tab-pane fade h-100 @@if (chatId === 1) {show active}" role="tabpanel" aria-labelledby="chat-@@chatId-tab">
  <div id="chat-wrapper-@@chatId" class="chat-wrapper offcanvas-lg offcanvas-end w-100">
    <div class="card-header chat-header border-bottom pe-2">
      <div class="d-flex">
        <div class="offcanvas-close-btn d-lg-none d-flex align-self-center align-items-center p-0 me-3">
          <button class="btn p-0" type="button" data-bs-dismiss="offcanvas" data-bs-target="#chat-wrapper-@@chatId" aria-controls="chat-wrapper-@@chatId"></button>
        </div>
        <div class="chat-user-image chat-status-@@chatStatus position-relative me-3">
          <img src="@@userImage" alt="@@userName Photo" class="img-fluid rounded-circle border border-light-subtle">
          <span class="badge position-absolute bottom-0 end-0 me-1 bg-opacity-75"></span>
        </div>
        <div class="chat-user-details d-flex justify-content-between align-items-center w-100 my-auto">
          <div class="me-3">
            <h6 class="fw-medium mb-1">@@userName</h6>
            <p class="fs-sm text-body-secondary mb-0">@@userActivity</p>
          </div>
          <div class="dropdown chat-options-dropdown text-end mx-2">
            <a href="#" class="rounded-circle btn px-2" id="chat-@@chatId-options" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>               
            <ul class="dropdown-menu dropdown-menu-end py-0 overflow-hidden" aria-labelledby="chat-@@chatId-options" data-popper-placement="bottom-end">
              <li><a class="dropdown-item text-body-secondary custom-color" href="#">Mark As Read</a></li>
              <li><a class="dropdown-item text-body-secondary custom-color" href="#">Disable Notifications</a></li>
              <li><a class="dropdown-item text-body-secondary custom-color" href="#">View Profile</a></li>
              <li><a class="dropdown-item text-body-secondary custom-color" href="#">Block User</a></li>
              <li><a class="dropdown-item text-body-secondary custom-color" href="#">Report User</a></li>
              <li><a class="dropdown-item text-body-secondary custom-color" href="#">Archive chat</a></li>
              <li class="dropdown-divider m-0"></li>
              <li><a class="dropdown-item text-danger" href="#">Delete Chat</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body chat-body" data-simplebar data-simplebar-auto-hide="false" style="max-height: 604px;">
      <!-- Chat Messages -->
      <div class="chat-messages">

        @@loop("./partials/_loops/_chat.html", "./data/chat-@@chatId.json")

      </div>
      <!-- END Chat Messages -->
    </div>
    <div class="card-footer chat-footer border-top p-3">
      <form class="chat-msg-form d-sm-flex align-items-end" action="javascript:void(0);">
        <textarea id="chat-msg-entry" class="form-control mb-sm-0 mb-3 bg-body custom-color" placeholder="Type a message" rows="1"></textarea>
        <button class="btn btn-sm btn-danger-soft ms-sm-2 chat-btn-emoji"></button>
        <button class="btn btn-sm btn-secondary-soft ms-2 chat-btn-file"></button>
        <button class="btn btn-sm btn-primary ms-2 chat-btn-send"></button>
      </form>
    </div>
  </div>
</div>
<!-- END Chat Pane -->
