<!-- FAQ Item -->
<div class="faq-category mb-5">
  <h3 class="h5 fw-bold mb-3">Account</h3>
  @@for (var i = 0; i < faqMany1_3.length; i++) { 
  <div class="accordion-item mb-2 border rounded overflow-hidden">
    <h2 class="accordion-header">
      <button class="accordion-button fw-bold custom-color collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3`+faqMany1_3[i].id+`" aria-expanded="`+faqMany1_3[i].open+`" aria-controls="faq3`+faqMany1_3[i].id+`">
        `+faqMany1_3[i].q+`
      </button>
    </h2>
    <div id="faq3`+faqMany1_3[i].id+`" class="accordion-collapse collapse" data-bs-parent="#faq-3">
      <div class="accordion-body">
        `+faqMany1_3[i].a+`
      </div>
    </div>
  </div>
  }
</div>

<div class="faq-category mb-5">
  <h3 class="h5 fw-bold mb-3">Listings</h3>
  @@for (var i = 0; i < faqMany4_5.length; i++) { 
  <div class="accordion-item mb-2 border rounded overflow-hidden">
    <h2 class="accordion-header">
      <button class="accordion-button fw-bold custom-color collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3`+faqMany4_5[i].id+`" aria-expanded="`+faqMany4_5[i].open+`" aria-controls="faq3`+faqMany4_5[i].id+`">
        `+faqMany4_5[i].q+`
      </button>
    </h2>
    <div id="faq3`+faqMany4_5[i].id+`" class="accordion-collapse collapse" data-bs-parent="#faq-3">
      <div class="accordion-body">
        `+faqMany4_5[i].a+`
      </div>
    </div>
  </div>
  }
</div>

<div class="faq-category mb-5">
  <h3 class="h5 fw-bold mb-3">Settings</h3>
  @@for (var i = 0; i < faqMany6_8.length; i++) { 
  <div class="accordion-item mb-2 border rounded overflow-hidden">
    <h2 class="accordion-header">
      <button class="accordion-button fw-bold custom-color collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3`+faqMany6_8[i].id+`" aria-expanded="`+faqMany6_8[i].open+`" aria-controls="faq3`+faqMany6_8[i].id+`">
        `+faqMany6_8[i].q+`
      </button>
    </h2>
    <div id="faq3`+faqMany6_8[i].id+`" class="accordion-collapse collapse" data-bs-parent="#faq-3">
      <div class="accordion-body">
        `+faqMany6_8[i].a+`
      </div>
    </div>
  </div>
  }
</div>

<div class="faq-category mb-5">
  <h3 class="h5 fw-bold mb-3">Pricing</h3>
  @@for (var i = 0; i < faqMany9_10.length; i++) { 
  <div class="accordion-item mb-2 border rounded overflow-hidden">
    <h2 class="accordion-header">
      <button class="accordion-button fw-bold custom-color collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3`+faqMany9_10[i].id+`" aria-expanded="`+faqMany9_10[i].open+`" aria-controls="faq3`+faqMany9_10[i].id+`">
        `+faqMany9_10[i].q+`
      </button>
    </h2>
    <div id="faq3`+faqMany9_10[i].id+`" class="accordion-collapse collapse" data-bs-parent="#faq-3">
      <div class="accordion-body">
        `+faqMany9_10[i].a+`
      </div>
    </div>
  </div>
  }
</div>

<div class="faq-category mb-5">
  <h3 class="h5 fw-bold mb-3">Branding</h3>
  @@for (var i = 0; i < faqMany11_12.length; i++) { 
  <div class="accordion-item mb-2 border rounded overflow-hidden">
    <h2 class="accordion-header">
      <button class="accordion-button fw-bold custom-color collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3`+faqMany11_12[i].id+`" aria-expanded="`+faqMany11_12[i].open+`" aria-controls="faq3`+faqMany11_12[i].id+`">
        `+faqMany11_12[i].q+`
      </button>
    </h2>
    <div id="faq3`+faqMany11_12[i].id+`" class="accordion-collapse collapse" data-bs-parent="#faq-3">
      <div class="accordion-body">
        `+faqMany11_12[i].a+`
      </div>
    </div>
  </div>
  }
</div>
<!-- END FAQ Item -->
