<!-- Job Item -->
<div class="col-lg-9 job-item mx-auto text-md-start text-center border-2 border-bottom fs-special py-4">
  <div class="row align-items-center">
    <div class="col-md-6 job-title px-0 mb-md-0 mb-2">
      <span class="fw-bold me-1 d-md-inline-block d-block mb-md-0 mb-1">
        <a href="./career-details.html" class="link-body-emphasis text-decoration-none">@@title</a>
      </span>
      <span class="badge rounded-pill text-bg-info fw-normal mb-md-0 mb-1">@@department</span>
    </div>
    <div class="col-md-2 job-type mb-md-0 mb-2">@@type</div>
    <div class="col-md-3 job-location mb-md-0 mb-2">@@location</div>
    <div class="col-md-1 job-details mt-md-0 mt-2">
      <a class="btn btn-light rounded-circle stretched-link ms-md-auto mx-auto" href="./career-details.html" role="button"></a>
    </div>
  </div>
</div>
<!-- END Job Item -->
