<!-- Service -->
<div class="col-md-4 col-sm-6">
  <div class="service-card bg-body shadow-alt-sm rounded h-100">
    <div class="p-3">
      <div class="overflow-hidden rounded border border-light-subtle border-opacity-10 bg-white d-flex align-items-center" style="height: 280px">
        <img data-src="@@image" class="img-fluid object-fit-cover lazy" alt="@@title">
      </div>
    </div>
    <div class="p-4 pt-3">
      <h2 class="service-title fs-5 text-center mb-4 custom-color">@@title</h2>
      <div class="service-description text-center">
        @@description
      </div>
    </div>
  </div>
</div>
<!-- END Service -->
