@@for (var i = 0; i < 4; i++) { 

  <!-- Review Item -->
  <div class="col-12">
    <div class="card review-item text-bg-dark overflow-hidden">
      <img data-src="`+carsDataReviewOrder[i].image1+`" class="card-img img-fluid h-100 object-fit-cover lazy" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title review-title fs-6 fw-bold fs-special text-truncate">`+carsDataReviewOrder[i].title+`</h5>
        <p class="card-text review-grade fs-sm fw-bold text-uppercase rounded-1 fs-xs text-spacing-sm d-inline-flex Rating`+carsDataReviewOrder[i].reviewGrade+`">
          <small>`+carsDataReviewOrder[i].reviewGrade+`</small>
        </p>
        <div class="position-absolute top-0 end-0 me-2 mt-2">
          <div class="card text-bg-dark mb-3 border-0" style="max-width: 18rem;">
            <div class="card-header bg-primary custom-color p-0 d-flex align-content-center justify-content-center fs-sm">score</div>
            <div class="card-body py-2">
              <p class="card-text review-rating"><strong>`+carsDataReviewOrder[i].rating+`</strong></p>
            </div>
          </div>
        </div>
        <a href="./review-details.html" class="stretched-link"></a>
      </div>
    </div>
  </div>
  <!-- END Review Item -->
  
}