<div class="bg-body-tertiary py-5">
  <div class="container py-5 p-0">
    
    <div class="row py-5">
      <div class="col-lg-4 col-md-6 col-sm-8 col-10 bg-body p-4 rounded shadow-sm mx-auto">

        @@include('./partials/_forms/_auth-login.html', { "resetLink" : "/auth-forgot-password.html" } )
        
        <div class="mb-3 text-center">
          <p class="mb-0 mt-3">Don't have an account ? <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover fw-bold" href="./auth-signup.html">Sign Up</a></p>
        </div>

      </div>
    </div>

  </div>
</div>