<div class="container-fluid bg-body-tertiary vh-100 d-flex">
  
  <div class="row">
    <div class="col-lg-4 bg-body p-5 mx-auto rounded shadow-sm">

      <div class="p-0 px-sm-5 px-lg-0 px-xxl-4 m-0 mx-sm-5 mx-lg-0 mx-xxl-4 d-flex flex-column justify-content-center h-100">
        <h1 class="fs-4 fw-bold mb-4 text-center text-uppercase">Sign Up</h1>

        @@include('./partials/_forms/_auth-signup.html')
        
        <div class="mb-3 text-center">
          <p class="mb-0 mt-3">Already have an account ? <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover fw-bold" href="./auth-login-cover.html">Login</a></p>
        </div>

      </div>

    </div>
    <div class="col-lg-8 bg-dark bg-opacity-10 p-0 mx-auto rounded d-flex justify-content-center align-items-center text-dark-emphasis position-relative">
      <span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient-dark-1"></span>
      
      <img data-src="./images/pexels-yan-krukau-7794104.jpg" alt="" class="img-fluid object-fit-cover w-100 h-100 lazy">
      
    </div>
  </div>
  
</div>