<!-- About Me Widget  -->
<div class="widget">
  <span class="alt-font text-uppercase dark-gray-text font-weight-600 text-large">About Me</span>
  <div class="bg-fast-yellow separator-line-thick no-margin-lr md-margin-eleven md-no-margin-lr"></div>
  <div class="widget-body">
    <img data-src="http://placehold.it/600x255" alt="" class="lazy">
    <span
      class="alt-font text-uppercase dark-gray-text font-weight-600 margin-twenty-two display-block no-margin-lr no-margin-bottom  xs-margin-five xs-no-margin-lr">John
      Deo</span>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been industry's
      standard.</p>
  </div>
</div>
<!-- END About Me Widget  -->