<!-- Categories Widget -->
<div class="widget categories-widget p-3 bg-body-tertiary rounded mb-4">
  <h3 class="widget-title fs-6 text-uppercase mb-3">Blog Categories</h3>
  <div class="widget-body">
    <ul class="category-list list-unstyled mb-0">
      <li class="category-list-item mb-1">
        <a href="javascript:void(0)" class="category-list-link d-flex justify-content-between align-items-center link-body-emphasis text-decoration-none fs-special fs-6">
          <span>Electric Cars</span><span class="text-muted">8</span>
        </a>
      </li>
      <li class="category-list-item mb-1">
        <a href="javascript:void(0)" class="category-list-link d-flex justify-content-between align-items-center link-body-emphasis text-decoration-none fs-special fs-6">
          <span>Classic</span><span class="text-muted">10</span>
        </a>
      </li>
      <li class="category-list-item mb-1">
        <a href="javascript:void(0)" class="category-list-link d-flex justify-content-between align-items-center link-body-emphasis text-decoration-none fs-special fs-6">
          <span>Off-Roading</span><span class="text-muted">11</span>
        </a>
      </li>
      <li class="category-list-item mb-1">
        <a href="javascript:void(0)" class="category-list-link d-flex justify-content-between align-items-center link-body-emphasis text-decoration-none fs-special fs-6">
          <span>Performance</span><span class="text-muted">6</span>
        </a>
      </li>
      <li class="category-list-item mb-1">
        <a href="javascript:void(0)" class="category-list-link d-flex justify-content-between align-items-center link-body-emphasis text-decoration-none fs-special fs-6">
          <span>Driving</span><span class="text-muted">13</span>
        </a>
      </li>
      <li class="category-list-item mb-1">
        <a href="javascript:void(0)" class="category-list-link d-flex justify-content-between align-items-center link-body-emphasis text-decoration-none fs-special fs-6">
          <span>Running Costs</span><span class="text-muted">7</span>
        </a>
      </li>
      <li class="category-list-item mb-1">
        <a href="javascript:void(0)" class="category-list-link d-flex justify-content-between align-items-center link-body-emphasis text-decoration-none fs-special fs-6">
          <span>Design</span><span class="text-muted">8</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- END Categories Widget -->