<!-- Trending Posts Widget  -->
<div class="widget trending-posts-widget p-3 bg-body-tertiary rounded mb-4">
  <h3 class="widget-title fs-6 text-uppercase mb-3">Trending Posts</h3>
  <div class="widget-body">
    <div class="row g-3 mb-3">
      @@for (var i = 3; i < 7; i++) {
        <div class="d-flex align-items-start">
          <div class="" style="min-width: 80px; height: 80px">
            <img data-src="`+blogs[i].blogImage+`" class="rounded-1 img-fluid h-100 w-100 object-fit-cover lazy" alt="`+blogs[i].blogTitle+`">
          </div>
          <div class="ms-3">
            <a href="./blog-article-minimal.html" class="d-block text-decoration-none lh-sm link-body-emphasis fs-special fs-6 mb-1">`+blogs[i].blogTitle+`</a>
            <span class="text-muted">`+blogs[i].blogDate+`</span>
          </div>
        </div>
      }
    </div>
  </div>
</div>
<!-- END Trending Posts Widget  -->