<!-- Tags Widget -->
<div class="widget tags-widget p-3 bg-body-tertiary rounded mb-4">
  <h3 class="widget-title fs-6 text-uppercase mb-3">Tags</h3>
  <div class="widget-body tags">
    <a href="javascript:void(0)" class="btn btn-sm btn-secondary me-1 mb-2">Off-road</a>
    <a href="javascript:void(0)" class="btn btn-sm btn-secondary me-1 mb-2">Classic</a>
    <a href="javascript:void(0)" class="btn btn-sm btn-secondary me-1 mb-2">Performance</a>
    <a href="javascript:void(0)" class="btn btn-sm btn-secondary me-1 mb-2">Electric</a>
    <a href="javascript:void(0)" class="btn btn-sm btn-secondary me-1 mb-2">Lifestyle</a>
    <a href="javascript:void(0)" class="btn btn-sm btn-secondary me-1 mb-2">Convertible</a>
    <a href="javascript:void(0)" class="btn btn-sm btn-secondary me-1 mb-2">Economy</a>
    <a href="javascript:void(0)" class="btn btn-sm btn-secondary me-1 mb-2">Hypercar</a>
    <a href="javascript:void(0)" class="btn btn-sm btn-secondary me-1 mb-2">Design</a>
  </div>
</div>
<!-- END Tags Widget -->