<!-- Modal Car Search  -->
<div class="modal fade car-search-modal" id="carFilterModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="carFilterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" data-simplebar data-simplebar-auto-hide="false">
    <div class="modal-content">
      <div class="modal-header bg-secondary-subtle py-2">
        <button type="button" class="btn-close rounded-circle z-1" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-lg-4">
        <div class="row g-0 align-items-start">
          <div class="col-12 bg-blur bg-dark bg-opacity-25 border border-light border-opacity-25 rounded-3 p-4 my-3 text-white">
            <div id="carFilterModalLabel" class="d-none">Search Cars</div>

            @@include('./partials/_forms/_car-search-form-wide.html')

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END - Modal Car Filter -->