<!-- Modal Contact Reviewer -->
<div class="modal fade contact-reviewer-modal" id="contactReviewer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="contactReviewerLabel" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable" data-simplebar data-simplebar-auto-hide="false">
    <div class="modal-content">
      <div class="modal-header bg-secondary-subtle py-2">
        <h5 class="modal-title">Send Message</h5>
        <button type="button" class="btn-close rounded-circle z-1" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-lg-4">
        <div class="row">
          <div class="col-12">
            <div id="contactReviewerLabel" class="d-none">Contact Reviewer</div>
            
            @@include("./partials/_forms/_contact-reviewer.html")

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END - Modal Contact Reviewer -->