<!-- Modal Report Listing  -->
<div class="modal fade report-listing-modal" id="reportListing" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="reportListingLabel" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable" data-simplebar data-simplebar-auto-hide="false">
    <div class="modal-content">
      <div class="modal-header bg-secondary-subtle py-2">
        <h5 class="modal-title">Report Listing</h5>
        <button type="button" class="btn-close rounded-circle z-1" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-lg-4">
        <div class="row">
          <div class="col-12">
            <div id="reportListingLabel" class="d-none">Report Listing</div>
            
              @@include("./partials/_forms/_report-listing.html")

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END - Modal Report Listing -->