<!-- Modal Team Bio -->
<div class="modal fade team-bio-modal" id="teamBio" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="teamBioLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" data-simplebar data-simplebar-auto-hide="false">
    <div class="modal-content">
      <div class="modal-header bg-secondary-subtle py-2">
        <button type="button" class="btn-close rounded-circle z-1" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-lg-4">
        <div class="row g-3 g-lg-4">
          <div class="col-12 col-lg-6">
            <div class="image-holder">
              <img data-src="" class="member-image img-responsive img-grayscale rounded-3 img-fluid lazy" alt="">
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <h3 class="member-name modal-title fs-2 fw-bold custom-color" id="teamBioLabel"></h3>
            <h5 class="member-title text-secondary"></h5>
            <span class="member-dpt badge rounded-pill text-bg-info mb-3"></span>
            <div class="member-social">
              <nav class="m-0">
                <ul class="p-0">
                  <li class="d-none"><a href="" class="social-brand x"><span class="label">X</span></a></li>
                  <li class="d-none"><a href="" class="social-brand facebook"><span class="label">Facebook</span></a></li>
                  <li class="d-none"><a href="" class="social-brand instagram"><span class="label">Instagram</span></a></li>
                  <li class="d-none"><a href="" class="social-brand linkedin"><span class="label">LinkedIn</span></a></li>
                  <li class="d-none"><a href="" class="social-brand email"><span class="label">Email</span></a></li>
                </ul>
              </nav>
            </div>
            <p class="member-desc1 text-body-secondary fs-6"></p>
            <p class="member-desc2 text-body-secondary fs-6"></p>
            <div class="fs-special d-flex align-items-center pt-2 mt-1 text-primary custom-color">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-steering-wheel me-2" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M12 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                <path d="M12 14l0 7"></path>
                <path d="M10 12l-6.75 -2"></path>
                <path d="M14 12l6.75 -2"></path>
              </svg>
              <span class="fw-bold me-2 flex-shrink-0">Dream Car:</span><span class="member-car text-body-secondary"></span>
            </div>
            <div class="fs-special d-flex align-items-center pt-2 mt-1 mb-3 text-primary custom-color">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-tv me-2" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
                <path d="M16 3l-4 4l-4 -4"></path>
              </svg>
              <span class="fw-bold me-2 flex-shrink-0">Favorite Movie:</span><span class="member-movie text-body-secondary"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>