<!-- Footer Style 4 -->
<footer class="footer-style-4 position-relative border-top border-opacity-10 bg-dark text-bg-dark py-5 pb-0">

  <div class="container py-3">
    <div class="row">
      <div class="col-12 text-center">
        <div class="d-flex flex-column h-100">
          <div class="logo mb-4">
            <a class="d-flex align-items-center mb-3 text-decoration-none" href="./">
              <img class="logo-light mx-auto lazy" data-src="./images/logo-light.png" alt="CARMART">
            </a>
          </div>

          <div class="mb-3">
            <span class="fs-special fs-6 w-100 d-block mb-2">sales@carmartdomain.com</span>
            <span class="fs-special fs-6 w-100 d-block mb-2">+1 (800) 445 6677</span>
            <span class="fs-special fs-6 w-100 d-block mb-2">77 McKinney, Texas</span>
          </div>

          <hr class="hr opacity-15"></hr>
  
          <div class="mx-auto">
            @@include('./partials/_footer-widgets/_social-media-icons.html')
          </div>

          <hr class="hr opacity-15 mt-1"></hr>
          
          <ul class="list-unstyled d-flex justify-content-center m-0 mt-2 text-uppercase fs-special fs-xs">
            <li class="mb-2 me-3"><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="./">Home</a></li>
            <li class="mb-2 me-3"><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="./car-filter-grid.html">Inventory</a></li>
            <li class="mb-2 me-3"><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="./about.html">About Us</a></li>
            <li class="mb-2 me-3"><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="./blog-grid-3-cols.html">Blog</a></li>
            <li class="mb-2 me-3"><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="./careers.html">Careers</a></li>
            <li class="mb-2 me-3"><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="./terms-of-service.html">Terms of Service</a></li>
            <li class="mb-2 me-3"><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="./privacy-policy.html">Privacy Policy</a></li>
            <li class="mb-2 me-3"><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="./contact.html">Contact Us</a></li>
          </ul>

        </div>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <div class="container py-4">
      <div class="row">
        <div class="col-12 text-center">
          <p class="fw-bold fs-special m-0">
            &copy; 2024. All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </div>

</footer>
<!-- END Footer Style 4 -->